.wgsa-filter-section {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  padding: 0 16px;
}

.wgsa-filter-section.is-open {
  border-color: rgba(0, 0, 0, 0.12);
  padding-bottom: 8px;
}

.wgsa-filter-section:first-child,
.wgsa-filter-section.is-open + .wgsa-filter-section.is-open {
  border-top-color: transparent;
}

.wgsa-filter-section:last-child {
  border-bottom-color: transparent;
}

.wgsa-filter-section > h3 {
  display: flex;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.wgsa-filter-section > h3 > i:first-child {
  margin-right: 16px;
  font-size: 20px;
  height: 22px;
}

.wgsa-filter-section > h3 > i:last-child {
  margin-left: auto;
}

.wgsa-filter-section > h3 > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wgsa-filter-section.active > h3 {
  color: #673c90;
}

.wgsa-filter-section p {
  font-size: 13px;
  line-height: 1.5;
}

.wgsa-filter .mdl-chip {
  display: block;
  margin-bottom: 8px;
  max-width: 100%;
  font-weight: 400;
}

.wgsa-filter .mdl-chip__text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wgsa-filter-section.capitalised .mdl-chip__text {
  text-transform: capitalize;
}

.mdl-chip--active {
  background: #a386bd;
  color: #fff;
  font-weight: 500;
  box-sizing: border-box;
}

.mdl-chip--active .mdl-chip__contact {
  background: #673c90;
}

.mdl-chip--active:active {
  background: #a386bd;
}
