.wgsa-search-box-container {
  display: flex;
  justify-content: center;
  height: 36px;
  user-select: none;
  font-size: 21px;
  flex-grow: 1;
}

.wgsa-search-box {
  flex-grow: 1;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  padding: 0 16px;
  margin: 0 16px;
  align-items: center;
  border-radius: 2px;
  cursor: text;
  min-width: 320px;
  max-width: 640px;
  position: relative;
}

.wgsa-search-box:hover,
.wgsa-search-box--active {
  background: rgba(255, 255, 255, 0.25);
}

.wgsa-search-box__input {
  flex-grow: 1;
  padding: 0 8px;
  margin: 0 8px;
  background: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
}

.wgsa-search-box__input:hover,
.wgsa-search-box__input:focus,
.wgsa-search-box__input:active {
  border: none;
  outline: none;
}

.wgsa-search-box input::placeholder {
  color: #fff;
  opacity: 0.71;
  font-size: 13px;
}

.wgsa-search-box__numbers {
  margin: 0;
}


/* Dropdown */

.wgsa-search-dropdown-container {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 16px);
}

.wgsa-search-dropdown {
  width: 100%;
  height: 240px;
  background: #efefef;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
}

.wgsa-search-dropdown-enter {
  opacity: 0;
}

.wgsa-search-dropdown-enter.wgsa-search-dropdown-enter-active {
  opacity: 1;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: opacity;
}

.wgsa-search-dropdown-leave {
  opacity: 1;
}

.wgsa-search-dropdown-leave.wgsa-search-dropdown-leave-active {
  opacity: 0;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: opacity;
}

.wgsa-search-dropdown__heading {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 1;
}
