.wgsa-hub-big-message,
.wgsa-big-message-overlay {
  font-size: 1.75rem;
  line-height: 1.2;
  color: #a386bd;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}

.wgsa-hub-big-message {
  margin-bottom: 0;
  background: #fff;
}
