.wgsa-hub-big-message,
.wgsa-hub-big-message > p,
.wgsa-big-message {
  font-size: 1.75rem;
  line-height: 1.2;
  color: #a386bd;
  font-weight: 400;
  margin-bottom: 0;
}

.wgsa-hub-big-message {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: calc(64px + 48px);
}

.wgsa-hub-big-message > * + * {
  margin-top: 16px;
}

.wgsa-big-message {
  background: rgba(255, 255, 255, 0.87);
  padding: 16px;
  border-radius: 4px;
}

.pw-onboarding-message {
  padding-bottom: calc(64px + 48px);
  flex-grow: 1;
}
