{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="panel">

  <section class="wgst-panel wgst-panel__{{panelType}} wgst-draggable{{#if invisibleThis }} wgst--invisible-this{{/if}}{{#if hideThis }} wgst--hide-this{{/if}}"
          data-panel-type="{{panelType}}"
          data-panel-id="{{panelId}}"
          data-panel-label="{{panelLabel}}"
          data-collection-id="{{collectionId}}"
          {{#each dataAttributes}}{{name}}="{{value}}"{{/each}}>

    <div class="wgst-panel-container">

      <header class="wgst-panel-header wgst-draggable-handle">
        <h4 class="header-title">{{> header}}</h4>

        <div class="wgst-panel-header-controls">

          {{#unless noFullscreenButton }}
          <i class="wgst-panel-header-control-button wgst-panel-header-control-button--active fa fa-arrows-alt"
            data-panel-header-control-button="fullscreen"></i>
          {{/unless}}

          {{#unless noHideButton }}
          <i class="wgst-panel-header-control-button wgst-panel-header-control-button--active fa fa-eye-slash"
            data-panel-header-control-button="hide"></i>
          {{/unless}}

          {{#unless noCloseButton }}
          <i class="wgst-panel-header-control-button wgst-panel-header-control-button--active fa fa-remove"
            data-panel-header-control-button="close"></i>
          {{/unless}}
          
        </div>
      </header>

      <article class="wgst-panel-body">
        <div class="wgst-panel-body-container">
          {{> body}}
        </div>     
      </article>

      <footer class="wgst-panel-footer wgst-draggable-handle">
      </footer>

    </div>

  </section>

</script>

{% endraw %}