.wgsa-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wgsa-progress-bar__label {
  padding-right: 1em;
}

.mdl-progress {
  width: 100%;
  background-color: rgba(0,0,0,0.14);
}

.mdl-progress > .progressbar {
  background: #673c90 !important;
}

.mdl-progress > .bufferbar,
.mdl-progress__indeterminate > .auxbar {
  /*background: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right, #fff ,#fff);*/
  background: transparent !important;
}
