.wgsa-specieator-file {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background: white;
  width: calc(33.333% - 16px);
}

@media(min-width: 1024px) {
  .wgsa-specieator-file {
    width: calc(20% - 16px);
  }
}

.wgsa-specieator-file__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #673c90;
}

.wgsa-specieator-file p {
  margin: 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
}
