.wgsa-hub-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.wgsa-has-aside {
  padding-right: 255px;
}
.wgsa-has-aside ~ .mdl-layout__content,
.wgsa-has-aside ~ .mdl-layout__content .wgsa-drag-and-drop__button {
  margin-right: 255px;
}

.wgsa-hub-header ~ .mdl-layout__content {
  background: #fff;
  z-index: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.wgsa-hub-header .mdl-layout-title {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.wgsa-header-logo {
  width: 88px;
}

.mdl-layout__header--primary .wgsa-header-logo {
  filter: grayscale(1) brightness(5);
}

.wgsa-hub-header .mdl-navigation {
  padding-right: 1rem;
}

.wgsa-hub-header .mdl-navigation__link {
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500 !important;
  padding: 0;
  margin-left: 2rem;
}
