.wgsa-hub {
  box-sizing: border-box;
  height: 100%;
  padding-top: 52px;
  padding-left: 4rem;
  width: 100%;
  position: relative;
}

.wgsa-hub-upload-progress {
  max-width: 640px;
}

.wgsa-hub-summary {
  padding: 1rem 2.5rem;
  position: absolute;
  top: 0;
  left: 4rem;
  right: 0;
}

.wgsa-hub-summary > p {
  font-size: 13px;
  margin: 0;
}

.wgsa-hub-summary > p > span {
  color: #673c90;
}

.wgsa-virtualised-grid {
  outline: none;
}

.wgsa-hub-card {
  background: white;
  border-top: 1px solid color(#a386bd tint(50%));
  height: 104px;
  margin: 0 1rem 1rem;
  padding: 1.25rem 1.5rem;
  /*overflow: hidden;*/
}

.wgsa-hub-card__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #673c90;
}

.wgsa-hub-card p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wgsa-hub-card a {
  color: #AC65A6;
}

.wgsa-hub-card__metadata {
  align-items: bottom;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  position: relative;
}

.wgsa-hub-card__metadata--species {
  font-style: italic;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-hub-card__metadata i {
  font-size: 16px;
  margin-right: 4px;
  line-height: 18px;
}

.wgsa-hub-card__metadata p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
