.leaflet-top, .leaflet-bottom {
  z-index: 1;
}

.wgsa-hub-map-view {
  height: 100%;
  width: 100%;
  position: absolute !important;
}

.wgsa-hub-map-view .leaflet-marker-icon {
  color: #673c90;
  font-size: 40px;
}

.wgsa-map-lasso-button.is-active {
  background-color: #a386bd;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
  background-color: color(#a386bd alpha(60%) lightness(75%));
}
.marker-cluster-small div {
  background-color: color(#a386bd alpha(60%));
}

.marker-cluster-medium {
  background-color: color(#673c90 alpha(60%) lightness(75%));
}
.marker-cluster-medium div {
  background-color: color(#673c90 alpha(60%));
}

.marker-cluster-large {
  background-color: color(#ac65a6 alpha(60%) lightness(75%));
}
.marker-cluster-large div {
  background-color: color(#ac65a6 alpha(60%));
}

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.marker-cluster span {
  line-height: 30px;
}

.leaflet-overlay-pane > .leaflet-zoom-animated path {
  stroke: #673c90;
  stroke-opacity: 1;
}
