.wgsa-hub-stats-view {
  padding-right: 4em;
}

.wgsa-hub-stats-heading {
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 2.5rem;
  margin: 0 0 0.5rem;
  color: #673c90;
}

.wgsa-chart-tooltip {
  background: rgba(255, 255, 255, 0.87);
  padding: 0.5rem;
}

.wgsa-chart-tooltip__heading {
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 0.25rem;
  color: #673c90;
}

.wgsa-chart-tooltip dl {
  margin: 0;
  font-size: 1rem;
}

.wgsa-chart-tooltip dt {
  display: none;
}

.wgsa-chart-tooltip dd {
  margin: 0;
}
