.wgsa-collection-summary {
  padding-bottom: 8px;
}

.wgsa-create-collection-form {
  height: 100%;
}

.wgsa-create-collection-form footer {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.wgsa-create-collection-form .mdl-textfield {
  padding: 16px 0;
  width: 100%;
}

.wgsa-create-collection-form .mdl-textfield--small {
  width: 50%;
}

.wgsa-create-collection-form .mdl-textfield__label {
  top: 1.25rem;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  top: -0.25rem;
}

.wgsa-create-collection-form .mdl-textfield__label::after {
  bottom: 1rem !important;
}

.wgsa-create-collection-form textarea {
  resize: none;
}

.wgsa-supported-organism-list {
  font-weight: 500;
  color: #3c7383;
  list-style: outside;
  margin-left: 16px;
}

.wgsa-create-collection-message strong {
  white-space: nowrap;
}