.Pane .pw-cluster-content,
.Pane .pw-cluster-status,
.Pane .pw-cluster-network {
  height: calc(100% - 64px);
}

.Pane .pw-cluster-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pane .pw-network-cover-message,
.Pane .pw-cluster-status {
  color: rgba(0, 0, 0, 0.54);
  padding: 4px 8px;
  box-sizing: border-box;
}

.Pane .pw-cluster-network .libmr-controls-toggler,
.Pane .pw-cluster-network .libmr-secondary-controls {
  transform: translate(-8px, 8px);
}

.pw-cluster-view-current-threshold {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  padding: 4px;
  border-radius: 3px;
}

.pw-cluster-threshold-slider {
  /* position: absolute; */
  z-index: 1;
  padding: 4px 16px;
  border-radius: 3px;
  height: 56px;
  box-sizing: border-box;
}

.pw-cluster-threshold-slider h3 {
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.02em;
  margin: 0 0 4px;
  line-height: 1.3;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  /* text-transform: uppercase; */
}

.pw-cluster-threshold-slider > .rc-slider {
  max-width: 640px;
  margin: 0 auto;
}

.pw-cluster-threshold-slider .rc-slider-mark {
  top: 12px;
}

.pw-cluster-threshold-slider .rc-slider-dot {
  border: 2px solid #a386bd;
  /* opacity: 0.8; */
}

.rc-slider-tooltip {
  z-index: 1;
}

/* .Pane .pw-cluster-network .libmr-control-toggler */
