.Pane .pw-cluster-content,
.Pane .pw-cluster-view {
  height: 100%;
}

.Pane .pw-cluster-view {
  display: flex;
  flex-direction: column;
}

.Pane .pw-cluster-status {
  height: 100%;
}

.Pane .pw-cluster-network {
  flex-grow: 1;
}

.Pane .pw-cluster-network > .libmr-Panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

