.Pane .pw-cluster-content,
.Pane .pw-cluster-status,
.Pane .pw-cluster-network {
  height: 100%;
}

.Pane .pw-network-cover-message {
  color: rgba(0, 0, 0, 0.54);
  padding: 4px 8px;
}

.Pane .pw-cluster-network .libmr-controls-toggler,
.Pane .pw-cluster-network .libmr-secondary-controls {
  transform: translate(-8px, 8px);
}

/* .Pane .pw-cluster-network .libmr-control-toggler */
