.mr-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.mr-loading img {
  display: block;
  margin: 0 auto 16px;
  width: 160px;
}

.mr-loading p {
  position: relative;
  margin-bottom: 48px;
}
