{
  "presets": [
    "react",
    [ "env", {
      "targets": { "browsers": [ "last 2 versions" ] },
      "modules": false
    } ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties"
  ]
}
