{
  "extends": "cgps",
  "env": {
    "node": true,
    "browser": false,
  },
  "rules": {
    "no-multiple-empty-lines": 0,
    "new-cap": [ "error", { "capIsNewExceptions": [ "Router" ] } ],
    "max-len": [ "warn", 100 ]
  }
}
