.cgps-login-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2px;
  border: 1px solid #3C7383;
  box-sizing: border-box;
}

.cgps-login-controls > input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid transparent;
  margin: 0px;
  padding: 2px 4px;
  min-width: 0;
  font-size: 14px;
}

.cgps-login-controls > button {
  height: 100%;
  border: none;
  margin: 0px;
  background: #3C7383;
  cursor: pointer;
  color: #fff;
  line-height: 1;
}

.cgps-login-controls .mdl-spinner__layer-1,
.cgps-login-controls .mdl-spinner__layer-2,
.cgps-login-controls .mdl-spinner__layer-3,
.cgps-login-controls .mdl-spinner__layer-4 {
  border-color: #87c7a6;
}