.wgsa-header > .mdl-layout__header-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.wgsa-has-aside {
  padding-right: 255px;
}
.wgsa-has-aside ~ .mdl-layout__content,
.wgsa-has-aside ~ .mdl-layout__content .wgsa-drag-and-drop__button,
.wgsa-has-aside ~ .mdl-layout__content .wgsa-tray-container {
  margin-right: 255px;
}

.wgsa-header ~ .mdl-layout__content {
  background: #fff;
  z-index: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.wgsa-header .mdl-layout-title {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.wgsa-header-logo {
  width: 88px;
}

.mdl-layout__header--primary .wgsa-header-logo {
  filter: grayscale(1) brightness(5);
}

.wgsa-header .mdl-navigation {
  padding-right: 1rem;
}

.wgsa-header .mdl-navigation__link {
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500 !important;
  padding: 0;
  margin-left: 2rem;
}

.mdl-layout-spacer .mdl-layout-spacer--flex {
  flex-basis: 0;
}

.wgsa-header-collection-metadata {
  position: relative;
  flex-grow: 2;
  height: 64px;
  min-width: 0;
  display: flex;
  align-items: center;
}

.wgsa-header-collection-title {
  line-height: 64px;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
