.pw-viewer-add-metadata-menu.libmr-Menu-element {
  max-width: calc(400px + 32px);
}

.pw-viewer-add-metadata-menu header {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.pw-viewer-add-metadata-menu .wgsa-link-button {
  color: #673c90;
  font-weight: 500 !important;
  padding: 0;
}

.pw-viewer-add-metadata-menu .wgsa-link-button.secondary {
  color: #3c7383;
}

.pw-viewer-add-metadata-menu h3 {
  font-family: inherit;
  font-size: 13px;
  line-height: inherit;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.pw-viewer-add-metadata-menu li,
.pw-viewer-add-metadata-menu strong {
  font-weight: 700;
}

form.pw-viewer-add-metadata-form {
  height: 80px;
  display: flex;
  align-items: center;
}

