.wgsa-genome-selection {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.wgsa-genome-selection > header {
  padding-bottom: 8px;  
}

.wgsa-genome-selection > footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.wgsa-genome-selection > footer > div {
  margin-right: auto;
}

.wgsa-genome-selection > footer > button {
  margin-left: 8px;
}

.wgsa-genome-selection > header > button {
  white-space: nowrap;
}

.wgsa-genome-selection h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.wgsa-genome-selection__list {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  width: 440px;
  margin: 0 -16px 8px;
  max-height: calc(100vh - 240px);
}

.wgsa-genome-selection__list > ul {
  margin: 0;
  min-height: 100%;
  min-width: 440px;
  width: 440px;
  box-sizing: border-box;
}

.wgsa-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 16px;
  height: 32px;
}

.wgsa-list-item:hover,
.wgsa-list-item:focus {
  background: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.wgsa-list-item > span {
  max-width: calc(100% - 24px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.wgsa-list-item .mdl-button--icon {
  color: rgba(0, 0, 0, 0.54);
  width: 24px;
  height: 24px;
  min-width: 0;
}

.wgsa-list-item .material-icons {
  font-size: 20px;
}