.wgsa-filter-summary {
  align-items: center;
  display: flex;
  font-size: 13px;
  height: 4rem;
  justify-content: center;
  min-height: 4rem;
  position: relative;
}

.wgsa-filter-summary ~ * {
  flex-grow: 1;
  position: relative;
}

.wgsa-filter-summary__count {
  font-size: 13px;
  left: 0;
  margin: 0;
  position: absolute;
}

.wgsa-filter-summary__count > span {
  color: #673c90;
}
