.wgsa-genome-report-amr {
  width: 100%;
}

.wgsa-genome-report-amr-state {
  text-transform: capitalize;
  white-space: nowrap;
}

.wgsa-genome-report-amr-present {
  font-weight: 500;
}

.wgsa-genome-report-amr tr:not(.wgsa-genome-report-amr-present) td {
  color: rgba(0, 0, 0, 0.54);
}


.wgsa-genome-report #mlst dl > div:first-child {
  width: calc(33% - 16px);
}

.wgsa-genome-report #mlst dl > div:nth-child(2) {
  width: calc(67% - 16px);
}

.wgsa-genome-report #mlst dl > div:nth-child(2) dd {
  font-size: 16px;
}
