.pw-update-metadata {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.pw-update-metadata ol {
  margin-top: 0;
}

.pw-update-metadata-warning {
  display: flex;
  font-weight: 500;
}

.pw-update-metadata-warning .material-icons {
  margin-right: 4px;
}

.pw-update-metadata-form {
  align-items: center;
  border: 2px dashed rgba(0, 0, 0, 0.28);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
  align-self: stretch;
}

.pw-update-metadata-form input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.pw-update-metadata-form p {
  margin: 0;
  pointer-events: none;
}

.pw-update-metadata-link {
  color: #673c90;
  font-weight: 500;
  margin-bottom: 16px;
  text-decoration: underline;
}

.pw-update-metadata-form.indicating {
  color: #3c7383;
  border-color: currentColor;
}
