.wgsa-downloads {
  position: relative;
  padding: 24px;
  background: url('/images/WGSA.Icon.FINAL.reverse.svg') #fff no-repeat;
  background-size: 80px;
  background-position: calc(100% + 20px) -20px;
}

.wgsa-downloads .mdl-dialog__title {
  padding: 16px 0;
}  

.wgsa-downloads-menu {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  display: block;
}

.wgsa-menu-heading {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.54);
  padding: 8px 32px 0;
  margin: 0;
  display: block;
}

.wgsa-downloads-menu a,
.wgsa-downloads-menu button {
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
}

.wgsa-downloads > p {
  margin: 0;
}

.wgsa-downloads-menu h4 {
  margin-top: 16px;
}

.wgsa-menu-button {
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
}