<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Microreact - (Friendly) Hierarchical and Geographical Analysis Tool{% endblock %}</title>
    <meta name="description" content="Microreact allows you to upload, visualise and explore dendrograms (trees) linked to metadata containing geographic locations.">
    <meta name="author" content="Imperial College London">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/lumen.bootstrap.css">
    <link rel="stylesheet" href="/vendor/nprogress.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/3.12.0/vis.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    {% block head %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}

    {% include "./google-analytics.html" %}

</body>
</html>
