{% extends 'base.html' %}

{% block head %}
  <link href="/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

  <style>
    html, body {
      width: 100%;
      height: 100%;
    }
    button {
      outline: none !important;
    }
    .mr__message {
      position: relative;
      text-align: center;
    }
    .mr__message--loading {
      top: 35%;
      height: 100px;
    }
    .mr__message--loading .mr__message-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
    }
    .mr__message--error {
      top: 25%;
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container mr__message mr__message--loading">
    <p class="lead mr__message-content">Microreact - Loading</p>
  </div>
  <div class="container mr__message mr__message--error">
    <div class="page-header">
      <h1>Microreact - Not Found</h1>
    </div>
    <p class="lead">
      Your project could not be found. Please check the address and try again.
    </p>
    <a href="/">Homepage</a>
  </div>
{% endblock %}

{% block script %}
  <script src="/vendor/jquery/jquery-1.11.2.min.js"></script>
  <script src="/vendor/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="/vendor/jquery.knob.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.20"></script>
  <script src="/js/microreact.js"></script>
{% endblock %}
