{% extends 'base.html' %}

{% block head %}
  <style>
  html, body {
    height: 100%;
    transition: box-shadow 0.35s ease-in-out;
  }
  .hover {
    box-shadow: inset 0px 0px 75px #aaa;
  }
  .mr__main-content {
    text-align: center;
    position: relative;
    top: 25%;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="container mr__main-content">
    <div class="page-header">
      <h1>Microreact</h1>
    </div>
    <p class="lead">Phylogenetic and geographic analyses of <em>Staphylococcus aureus</em> isolates.</p>
    <h2><a href='/earss'>View the EARSS Dataset</a></h2>
    <p class="lead">or drop a JSON file onto this page.</p>
    <p id="errors"></p>
  </div>
{% endblock %}

{% block script %}
  <script src="/vendor/jquery/jquery-1.11.2.min.js"></script>
  <script src="/js/upload.js"></script>
{% endblock %}
