#organisms .lead {
  text-align: center;
  font-size: 16px;
  padding: 0 32px;
}

.wgsa-organism-table {
  border-collapse: collapse;
  margin: 0 auto 16px;
}

.wgsa-feature-column {
  width: 120px;
}

.wgsa-organism-table caption {
  font-size: 24px;
  line-height: 2;
  font-family: "Saira Semi Condensed", "Helvetica", "Arial", sans-serif;
  color: #673c90;
  font-weight: 500;
}

.wgsa-organism-table th {
  vertical-align: bottom;
  border-bottom: 2px solid #ebeff2;
  color: #673c90;
  font-weight: 500;
}

.wgsa-organism-table th,
.wgsa-organism-table td {
  text-align: center;
  padding: 12px;
  font-size: 16px;
}

.wgsa-organism-table th:first-child,
.wgsa-organism-table td:first-child {
  font-weight: 500;
  padding-left: 16px;
}

.wgsa-organism-table th:first-child,
.wgsa-organism-table td:first-child {
  text-align: right;
}

.wgsa-organism-table tr:not(:last-child) td {
  border-bottom: 1px solid #ebeff2;
}

.wgsa-organism-table td {
  vertical-align: middle;
}

.wgsa-organism-table i {
  color: #B25EA1;
}

.pw-homepage-cgmlst-organisms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px auto;
  max-width: 800px;
}

.pw-homepage-cgmlst-organisms li {
  font-style: italic;
  min-width: 160px;
  width: 25%;
  padding: 0 8px 8px;
  text-align: center;
  white-space: nowrap;
}