@import "how-it-works.css";
@import "organisms.css";
@import "features.css";
@import "footer.css";
@import "../css/sonar.css";

.homepage-section-link {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.homepage-section-link i {
  margin-right: 8px;
  font-size: 32px;
}

.wgsa-homepage > section:not(.showcase) {
  padding: 40px;
}

.wgsa-homepage section.alt {
  background: #efefef;
}

.wgsa-homepage__content {
  max-width: 1280px;
  margin: 0 auto;
}

.wgsa-homepage h2 {
  color: #673c90;
  text-align: center;
}

.wgsa-homepage > section footer {
  display: flex;
  justify-content: center;
}

.wgsa-homepage .mdl-button {
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.wgsa-homepage .mdl-button > i {
  margin-top: 8px;
  font-size: 32px;
}


/* Jumbotron */

.jumbotron {
  padding: 32px 32px 16px !important;
  max-width: 1280px;
  margin: 0 auto;
}

.jumbotron img {
  width: 400px;
  margin: 0 auto;
  display: block;
  transform: translateX(-12.5%);
}

.jumbotron h1 {
  color: #673c90;
  font-size: 24px;
  text-align: center;
}



/* Showcase */

.showcase {
  position: relative;
  min-height: calc(36.1vw + 1px);
  display: block;
  @media (max-width: 1200px) {
    /*width: calc(137.5%);*/
    min-height: calc(50.6vw + 1px);
    /*transform: translateX(-13.333%);*/
  }
  margin: 0 auto;
}

.showcase img {
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.showcase .mdl-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
}

.showcase__link {
  width: 12px;
  height: 12px;
  background-color: #3c7383;
  position: absolute !important;
  border-radius: 999px;
  display: block;
  z-index: 1;
  cursor: pointer;
  opacity: 0.5;
}

.showcase__link.active {
  background-color: #673c90;
  opacity: 1;
  z-index: 1;
}

.showcase__link.inactive {
  z-index: 0;
}

.showcase footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}


.showcase .mdl-button {
  font-size: 34px;
  text-transform: capitalize;
  line-height: 40px;
  padding-bottom: 8px;
}
