<section class="wgst-background wgst-background__drag-and-drop wgst--hide-this"
		data-wgst-background
		data-wgst-background-id="drag-and-drop">

	<div class="wgst-drag-and-drop-content">
		<div class="wgst-drag-and-drop-content__guide">
			<div class="wgst-drag-and-drop-zone"></div>
			<i class="fa fa-cloud-upload"></i>
			<h3 data-wgst-drag-and-drop-ready>Drop your files here for <strong>quick analysis</strong> and <strong>easy upload</strong>.</h3>
			<h3 class="wgst--hide-this" data-wgst-drag-and-drop-analysing-data>Analysing data...</h3>
			<p></p>
		</div>
	</div>
</section>