.wgsa-genome-list-view .wgsa-grid-item {
  padding-bottom: 0;
}

.wgsa-genome-list-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
}

.wgsa-grid-item:first-child > .wgsa-genome-list-item {
  border-top: none;
}

.wgsa-genome-list-item--selectable:hover,
.wgsa-genome-list-item--selectable:focus {
  background: rgb(238, 238, 238);
  cursor: pointer;
}

.wgsa-genome-list-item > :not(:last-child) {
  position: relative;
}

.wgsa-genome-list-item--selectable:hover *::after,
.wgsa-genome-list-item--selectable:focus *::after {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgb(238,238,238) 75%);
}

.wgsa-genome-list-item > * {
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-genome-list-item > :nth-child(1),
.wgsa-genome-list-item > :nth-child(2) {
  width: 25%;
}

.wgsa-genome-list-item .wgsa-card-content {
  display: flex;
  justify-content: center;
  width: 40%;
  background: none;
}

.wgsa-genome-list-item .wgsa-card-content i:empty {
  display: none;
}

.wgsa-genome-list-item .wgsa-card-metadata {
  overflow: hidden;
  white-space: nowrap;
  width: 33.333%;
  position: relative;
}

.wgsa-genome-list-header {
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
}
