.wgsa-genome-list-view .wgsa-grid-item {
  padding-bottom: 0;
}

.wgsa-genome-list-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
}

.wgsa-genome-list-item:hover,
.wgsa-genome-list-item:focus {
  background: rgb(238, 238, 238);
  cursor: pointer;
}

.wgsa-genome-list-item > :not(:last-child) {
  position: relative;
}

.wgsa-genome-list-item:hover *::after,
.wgsa-genome-list-item:focus *::after {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgb(238,238,238) 75%);
}

.wgsa-genome-list-item > .wgsa-card-title,
.wgsa-genome-list-item > .wgsa-card-subtitle {
  width: 25%;
}

.wgsa-genome-list-item .wgsa-card-content {
  display: flex;
  justify-content: center;
  width: 40%;
  background: none;
}

.wgsa-genome-list-item .wgsa-card-content i:empty {
  display: none;
}

.wgsa-genome-list-item .wgsa-card-metadata {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 33.333%;
  position: relative;
}
