.wgsa-genome-report,
.wgsa-genome-report p {
  line-height: 16px;
}

.wgsa-genome-report strong {
  font-weight: 500;
}

.wgsa-genome-report dl {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
  margin-left: -8px;
}

.wgsa-genome-report dl + * {
  margin-top: 8px;
}

.pw-genome-report-column.right dl {
  margin-left: 0;
  margin-right: -8px;
}

.wgsa-genome-report dl > div {
  width: calc(33.333% - 16px);
  margin: 8px;
}

.wgsa-genome-report dl + dl {
  margin-top: -8px;
}

.wgsa-genome-report dl + .pw-genome-report-external-link {
  margin-top: -16px;
}

dl.pw-genome-report-comfortable > div {
  width: calc(50% - 16px);
}

dl.pw-genome-report-unsized > div,
.wgsa-genome-report dl > .pw-genome-report-unsized {
  width: auto;
  min-width: calc(33.333% - 16px);
}

.wgsa-genome-report dt,
.wgsa-genome-report table caption,
.wgsa-genome-report figcaption {
  font-size: 13px;
  font-weight: 400;
}

.pw-genome-report-capitalise-titles dt {
  text-transform: capitalize;
}

.wgsa-genome-report dd {
  margin-left: 0;
  line-height: 24px;
  padding: 4px 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.wgsa-genome-report dd:empty {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.wgsa-genome-report dd:empty:before {
  content: "(none)";
}

.pw-genome-report-metadata.inline {
  display: inline-flex;
  align-items: baseline;
}

.pw-genome-report-metadata.inline dd {
  margin-top: 0;
  margin-left: 8px;
}

.wgsa-genome-report table {
  margin: 16px auto;
  font-size: 14px;
}

.wgsa-genome-report table.bordered {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 15px; /* subtract for border */
}

.wgsa-genome-report table.wide {
  width: 100%;
}

.wgsa-genome-report table caption,
.wgsa-genome-report-content figcaption {
  text-align: center;
}

.wgsa-genome-report figure {
  margin: 0 0 16px;
}

.wgsa-genome-report figure canvas {
  margin: 0 auto;
}

.wgsa-genome-report th,
.wgsa-genome-report td {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  height: 32px;
  padding: 0 8px;
}

.wgsa-genome-report td {
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-genome-report th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.wgsa-genome-report table.bordered th {
  height: 31px; /* accounts for top border */
}

.wgsa-genome-report th.italic,
.wgsa-genome-report td.italic {
  font-style: italic;
}

.wgsa-genome-report td.muted {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.wgsa-genome-report tr:hover > td {
  background-color: rgba(0, 0, 0, 0.07);
}

.pw-genome-report-column.right .pw-genome-report-external-link {
  justify-content: flex-end;
}

.pw-genome-report-external-link {
  align-items: center;
  display: flex;
}

.pw-genome-report-external-link a {
  font-size: 13px;
  font-weight: 500;
  color: hsl(194, 55.5%, 32%);
}

.pw-genome-report-external-link .material-icons {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: hsl(194, 55.5%, 32%);
  margin-left: 2px;
}
