.wgsa-genome-report table.inctyper-table,
.wgsa-genome-report table.inctyper-table table {
    margin-left: 0;
    width: 100%;
}

.wgsa-genome-report table.inctyper-table table {
    margin-top: 0;
}

.wgsa-genome-report table.inctyper-table td {
    font-weight: 500;
}
