@import "./modal.css";
@import "./layout.css";
@import "./nav.css";
@import "./elements.css";
@import "./summary.css";
@import "./version.css";

@import "./amr.css";
@import "./mlst.css";
@import "./clustering.css";
@import "./kleborate.css";
