.pw-genome-report-column .pw-kleborate-typing {
    margin-left: 0;
}

.pw-genome-report-column .pw-kleborate-amr {
    margin-left: 0;
}

.pw-kleborate-typing1 td {
    font-weight: 500;
}

.pw-kleborate-typing2 td {
    font-weight: 500;
}
.pw-kleborate-amr td {
    font-weight: 500;
}

.pw-kleborate-bla td {
    font-weight: 500;
}
