.wgsa-genome-report #mlst > * {
  display: inline-block;
}

.wgsa-genome-report #mlst > .pw-genome-report-section-header {
  width: 100%;
}

.wgsa-genome-report #mlst > .pw-genome-report-section-header ~ * {
  vertical-align: top;
  width: 50%;
}

.wgsa-genome-report #mlst .pw-mlst-profile {
  margin-top: 0;
}

.pw-genome-report-column .pw-mlst-profile {
  margin-left: 0;
}

.pw-genome-report-column .pw-mlst-profile caption {
  display: none;
}

.pw-mlst-profile td {
  font-weight: 500;
}
