.wgsa-drawer-container {
  bottom: 0;
  height: 0;
  right: 11rem;
  position: fixed;
  min-width: 34rem;
  z-index: 1;
}

.wgsa-drawer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12);
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: -3rem;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  width: 34.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.wgsa-drawer--open {
  transform: translateY(calc(-100% + 3rem));
}

.wgsa-drawer-enter {
  transform: translateY(3rem);
}

.wgsa-drawer-enter.wgsa-drawer-enter-active {
  transform: translateY(0);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-drawer-leave {
  transform: translateY(0);
}

.wgsa-drawer-leave.wgsa-drawer-leave-active {
  transform: translateY(3rem);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-drawer__header {
  align-items: center;
  background: #222;
  color: #fff;
  display: flex;
  height: 3rem;
  padding-top: 2px;
  padding-left: 1.5rem;
  padding-right: 0.8rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.wgsa-drawer__content {
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  min-height: 16rem;
  padding: 1.5rem 1.75rem;
}

.wgsa-drawer-actions {
  display: flex;
  justify-content: flex-end;
}
