{% raw %}

<script type="text/x-handlebars-template"
        class="wgst-template"
        data-template-id="panel-body__assembly">

    <div class="wgst-assembly-details">

        <div class="assembly-detail">

            <a href="/api/download/assembly/{{assemblyId}}/metadata/json"
                data-wgst-download-assembly-metadata-json
                class="btn btn-default">
                <i class="fa fa-download"></i> Download JSON
            </a>

            <a href="/api/download/assembly/{{assemblyId}}/metadata/csv"
                data-wgst-download-assembly-metadata-csv
                class="btn btn-default">
                <i class="fa fa-download"></i> Download CSV
            </a>

            <button type="button" class="btn btn-default" disabled>
                <i class="fa fa-download"></i> Download FASTA
            </button>
        </div>

        <div class="assembly-detail assembly-detail__nearest-representative">
          <h4>Nearest Representative</h4>
          <div class="assembly-detail-content">{{nearestRepresentativeData}}</div>
        </div>

        <div class="assembly-detail assembly-detail__score">
          <h4>Score</h4>
          <div class="assembly-detail-content">{% endraw %}{% include "assembly/scores.html" %}{% raw %}</div>
        </div>

        <div class="assembly-detail assembly-detail__st-type">
          <h4>Sequence Type</h4>
          <div class="assembly-detail-content">{{sequenceTypeData}}</div>
        </div>

        <div class="assembly-detail assembly-detail__mlst">
          <h4>MLST</h4>
          <div class="assembly-detail-content">{% endraw %}{% include "assembly/mlst.html" %}{% raw %}</div>
        </div> 

        <div class="assembly-detail assembly-detail__resistance-profile">
          <h4>Predicted Resistance Profile</h4>
          <div class="assembly-detail-content">
            {{#each antibioticResistanceData}}
              {% endraw %}{% include "assembly/antibiotic_class.html" %}{% raw %}
            {{/each}}
          </div>
        </div>

    </div><!-- /.assembly-details -->

</script>

{% endraw %}