.wgsa-card {
  background: white;
  border-top: 1px solid color(#a386bd tint(25%));
  padding: 1.25rem 0;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.wgsa-card-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #673c90;
}

.wgsa-card-content {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
}

.wgsa-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.wgsa-card:hover .wgsa-card-footer,
.wgsa-card-footer--visible {
  visibility: visible;
}

.wgsa-card-metadata {
  align-items: bottom;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-card-metadata i {
  font-size: 16px;
  padding-right: 4px;
  line-height: 18px;
}

.wgsa-card-metadata span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wgsa-card-metadata-inliner {
  display: flex;
}

.wgsa-card-metadata-inliner .wgsa-card-metadata {
  margin-left: 8px;
}

.wgsa-card-metadata-inliner .wgsa-card-metadata:first-child {
  margin-left: 0;
}
