.wgsa-hub-stats-view {
  flex-grow: 1;
  padding-right: 3.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.wgsa-hub-stats-group {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

.wgsa-hub-stats-section {
  box-sizing: border-box;
  margin: 0;
  padding-right: 24px;
  width: 100%;
}

.wgsa-hub-stats-section--small {
  float: left;
  width: 50%;
}

.wgsa-hub-stats-heading {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 16px;
  padding-top: 6px;
  color: #673c90;
  font-weight: 400;
  border-top: 1px solid #673c90;
}

.wgsa-hub-stats-heading--large {
  padding-top: 8px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.wgsa-hub-stats-heading > button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: inherit;
  line-height: inherit;
  margin-right: 24px;
  outline: none;
  padding: 0;
}

.wgsa-hub-stats-heading > button:hover,
.wgsa-hub-stats-heading > button:focus,
.wgsa-hub-stats-heading > button:active,
.wgsa-hub-stats-heading > button.active {
  color: #673c90;
}

.wgsa-hub-stats-value {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

.wgsa-hub-stats-value--large {
  color: rgba(0, 0, 0, 0.87);
  font-size: 2rem;
  font-weight: 300;
}

.wgsa-clickable-point {
  cursor: pointer;
}
