.wgsa-upload-instuctions {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  min-height: 540px;
}

.wgsa-upload-instuctions > div {
  width: calc(50% - 16px);
  box-sizing: border-box;
}

.wgsa-upload-instuctions li,
.wgsa-upload-instuctions strong {
  color: #673c90;
  font-weight: 500;
}


.wgsa-upload-instuctions li {
  display: inline-block;
  margin-right: 0.333em;
}

.wgsa-upload-instuctions li::after {
  content: ','
}

.wgsa-upload-instuctions li:last-child::after {
  display: none;
}
