.wgsa-home-page {
  margin: 0 auto;
  max-width: 980px;
}

.wgsa-home-page > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.wgsa-organism-card {
  width: 240px;
  margin: 16px;
  padding: 16px;
}

.wgsa-organism-card h3 {
  font-size: 24px;
  margin: 16px 0;
}
