.wgsa-about-collection-dropdown .libmr-Menu-content {
  padding: 24px;
}

.wgsa-about-collection-dropdown h3 {
  margin: 0 0 8px;
  font-size: 1.5rem;
  color: #673c90;
}

.wgsa-about-collection-dropdown dl {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 8px;
}

.wgsa-about-collection-dropdown dl > div {
  width: calc(50% - 8px);
}
