fieldset > legend {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 8px;
  padding: 0;
}

/*.mdl-textfield__label {
  color: #673c90;
}*/

.mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield.is-dirty .mdl-textfield__label {
  /*color: rgba(0, 0, 0, 0.54) !important;*/
  color: #673c90 !important;
}

.mdl-textfield__label::after {
  background-color: #673c90;
}

.wgsa-textfield-readonly .mdl-textfield__input {
  border: none;
}

.wgsa-textfield-readonly .mdl-textfield__label::after {
  display: none;
}

.wgsa-button--text {
  color: rgba(0, 0, 0, 0.87);
  background: none !important;
  min-width: 0;
  padding: 0;
}

.wgsa-icon-button--small {
  width: 28px;
  min-width: 28px;
  margin-left: -6px;
}

.wgsa-icon-button--small > i {
  font-size: 20px;
}

.wgsa-download-button {
  background: none;
  border: none;
  cursor: pointer;
}

.wgsa-download-button:active,
.wgsa-download-button:focus {
  outline: none;
}

.wgsa-download-icon {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.wgsa-download-icon .wgsa-button-icon {
  color: #673c90;
}

.wgsa-button-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.wgsa-external-link {
  color: #673c90;
  text-decoration: none;
}

.wgsa-external-link:hover,
.wgsa-external-link:focus,
.wgsa-external-link:active {
  text-decoration: underline;
}

.wgsa-external-link > span {
  vertical-align: middle;
}

.wgsa-external-link > .material-icons {
  vertical-align: middle;
  font-size: 1em;
  margin-left: .25em;
}

.wgsa-select-box {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
