.wgsa-upload-summary {
  /*justify-content: center;*/
}

.wgsa-upload-summary .mdl-button {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.wgsa-upload-summary .mdl-button i {
  font-size: 18px;
  margin-right: 4px;
}

.wgsa-genome-card {
  margin-bottom: 8px;
}

.wgsa-genome-card p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wgsa-genome-card a {
  color: #ac65a6;
}

.wgsa-hub-card-error {
  color: #d11b1b;
}

.wgsa-genome-card .wgsa-button--text {
  height: 24px;
  line-height: 1;
}

.wgsa-hub-card-error p {
  white-space: normal;
}

/* Error message */

.wgsa-upload-instructions .wgsa-overlay {
  background: rgba(255, 255, 255, 0.666);
}

.pw-upload-message {
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
  border-radius: 4px;
  max-width: 320px;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.pw-upload-message footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -16px;
  margin-right: -16px;
}
