.wgsa-collection-progressbar-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
}

.wgsa-collection-progressbar.mdl-progress {
  width: 100%;
  z-index: -1;
}

.uploadprogress-spinner-button {
  font-size: 10px;
}

.wgsa-collection-progress-container {
  margin: 16px;
}

.wgsa-collection-progress-section {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  max-width: 640px;
  margin: 0 auto;
}

.wgsa-collection-url-display {
  padding: 16px;
  text-align: center;
  max-width: 400px;
}

.wgsa-collection-url-display .mdl-card__supporting-text {
  width: 100%;
  line-height: 1.5;
  padding: 0;
}

.wgsa-collection-url-display :last-child {
  margin-bottom: 0;
}

.wgsa-collection-progress-table {
  margin: 16px 0px;
}

.wgsa-genome-analyses {
  display: flex;
  justify-content: center;
  padding-bottom: 68px;
}

.wgsa-genome-analyses > .mdl-grid {
  position: relative;
}

.wgsa-genome-analyses .mdl-card__actions {
  font-weight: 500;
}

.wgsa-genome-analyses .material-icons {
  font-size: 24px;
  color: #48996F;
}

.wgsa-overview-upload-ready-card {
  min-height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  font-weight: 400;
  z-index: 0;
  min-width: 148px;
  max-width: 148px;
}

.wgsa-overview-upload-ready-card .mdl-card__title {
  justify-content: center;
  font-size: 26px;
}

.wgsa-overview-statistics-item-value {
  font-size: 26px;
  font-weight: 300;
}

.wgsa-overview-upload-ready-card span {
  padding: 16px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.wgsa-card-heading {
  background: transparent;
  text-transform: uppercase;
  font-size: 16px;
  color: #666;
  line-height: 48px;
  border-bottom: 1px solid #ddd;
  padding: 4px 32px 0;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.wgsa-upload-review-button {
  background: #673c90 !important;
  color: #fff;
}

.wgsa-upload-review-button:hover,
.wgsa-upload-review-button:focus,
.wgsa-upload-review-button:active {
  background: #a386bd !important;
}

.wgsa-upload-review-button:disabled {
  background: #e5e5e5 !important;
}

.wgsa-upload-navigation__footer .material-icons {
  color: #fff;
}

.wgsa-upload-review-button .mdl-button__ripple-container .mdl-ripple {
  background: #fff;
}

.wgsa-upload-warning {
  display: flex;
  padding: 8px 0;
  margin: 0 16px;
}

.wgsa-upload-warning i {
  margin: 0 16px;
}

.wgsa-tree-progress-card {
  border: 1px solid rgba(0, 0, 0, 0.14);
  background: #fff;
  margin: 8px;
  display: flex;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: -60px;
}

.wgsa-tree-progress-card:nth-child(2) {
  width: 320px;
  left: -88px;
  right: auto;
}

.wgsa-tree-progress-card__title,
.wgsa-tree-progress-card__status {
  text-align: center;
  padding: 0;
}

.wgsa-tree-progress-card__title {
  width: 37.5%;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
  padding: 16px 0;
}

.wgsa-tree-progress-card__status {
  flex-grow: 1;
  color: #673c90;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wgsa-tree-progress-card__status .mdl-spinner {
  margin-right: 16px;
}
