.wgsa-genome-selection-dropdown ul:first-child {
  margin-top: 0;
}

.wgsa-genome-download-list {
  margin-bottom: 8px;
}

.wgsa-genome-download-list li {
  display: flex;
  justify-content: space-between;
}
