.wgsa-genome-selection-dropdown {
  box-sizing: border-box;
  min-width: 100%;
  width: 440px;
  height: 376px;
  position: absolute;
  top: 40px;
  right: 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}

.wgsa-genome-selection-dropdown p:last-child {
  margin-bottom: 0;
}

.wgsa-selection-message {
  padding: 0 24px;
}

.wgsa-dropdown {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wgsa-dropdown-header,
.wgsa-dropdown-footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wgsa-dropdown-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 40px;
  padding: 8px 16px;
}

.wgsa-dropdown-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 54px;
  max-height: 54px;
  margin-top: auto;
  padding: 8px;
}

.wgsa-dropdown-footer button {
  text-transform: capitalize;
}

.wgsa-dropdown-content {
  padding: 16px;
}

.slide-left-enter {
  transform: translate(100%);
}
.slide-left-enter.slide-left-enter-active {
  transform: translate(0%);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.slide-left-leave {
  transform: translate(0%);
}
.slide-left-leave.slide-left-leave-active {
  transform: translate(-100%);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.slide-right-enter {
  transform: translate(-100%);
}
.slide-right-enter.slide-right-enter-active {
  transform: translate(0%);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.slide-right-leave {
  transform: translate(0%);
}
.slide-right-leave.slide-right-leave-active {
  transform: translate(100%);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
