.wgsa-genome-selection-dropdown {
  box-sizing: border-box;
  min-width: 100%;
  width: 400px;
  height: 376px;
  position: absolute;
  top: 40px;
  right: 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding: 16px 24px;
  border-radius: 2px;
}

.wgsa-genome-selection-dropdown p:last-child {
  margin-bottom: 0;
}

.wgsa-genome-selection-dropdown .wgsa-button-group {
  justify-content: center;
  margin-bottom: 16px;
}

.wgsa-genome-selection-dropdown > .wgsa-genome-selection,
.wgsa-genome-selection-dropdown > .wgsa-create-collection-form,
.wgsa-genome-selection-dropdown > .wgsa-genome-downloads {
  position: absolute;
  top: 56px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.wgsa-genome-selection-dropdown h3 {
  margin-top: 16px;
}