.wgsa-collection-access {
  position: relative;
}

.wgsa-collection-access h4 {
  font-family: 'Roboto', Arial, sans-serif !important;
  font-size: 12px;
  margin-top: 16px;
  text-transform: uppercase;
}

.wgsa-collection-access .material-icons {
  padding: 8px;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 8px;
}

.wgsa-collection-access button {
  align-items: center;
  border: 1px solid transparent;
  color: inherit;
  display: flex;
  line-height: 1.5;
  padding: 8px;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: background, border-color;
  width: 100%;

  &.active {
    & strong,
    & .material-icons {
      color: #3c7383;
    }
  }

  &:hover,
  &.active{
    background: rgba(0, 0, 0, 0.07);
    border-color: rgba(0, 0, 0, 0.07);
  }

  &:not(.active) {
    cursor: pointer;
  }
}

.wgsa-collection-access-status {
  position: absolute;
  top: 0;
  right: 0;
}

.wgsa-collection-access-status p {
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
}