.wgsa-upload-progress {
  display: flex;
  justify-content: space-between;
}

.wgsa-upload-progress > :first-child {
  width: 25%;
}

.wgsa-upload-progress > :last-child {
  width: calc(75% - 16px);
  position: relative;
}

.wgsa-upload-card-list {
  display: block;
  overflow: hidden;
}

.wgsa-upload-card-enter {
  opacity: 0;
}

.wgsa-upload-card-enter.wgsa-upload-card-enter-active {
  opacity: 1;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.wgsa-upload-card-leave {
  transform: translateX(0);
}

.wgsa-upload-card-leave.wgsa-upload-card-leave-active {
  transform: translateX(-100%);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.wgsa-upload-progress .wgsa-card-header i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #d11b1b;
}

.wgsa-upload-progress .wgsa-card-content {
  height: auto;
}

.pw-upload-progress-view {
  flex-grow: 1;
}

.wgsa-analysis-chart {
  height: 100%;
  max-height: 640px;
  position: relative;
}

.wgsa-view-genomes-button {
  position: absolute;
  top: calc(50% + 4.5px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c7383;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.wgsa-view-genomes-button:hover {
  text-decoration: none !important;
  background-color: #975faa;
}

.wgsa-upload-legend li {
  line-height: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wgsa-upload-legend > li > span {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: hidden;
}

.wgsa-upload-legend-organism {
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
}

.wgsa-upload-legend li > ul {
  width: 100%;
  margin-top: 8px;
  padding-left: 24px;
}

.pw-with-success-icon {
  display: flex;
  align-items: center;
}

.pw-with-success-icon i {
  font-size: 18px;
  margin-left: 4px;
  color: #48996f;
}

.wgsa-upload-progress-overview p {
  margin-bottom: 0;
}

.wgsa-upload-progress-overview .wgsa-progress-bar {
  justify-content: space-between;
}

.wgsa-upload-progress-overview .wgsa-progress-bar > label {
  width: 120px;
}

.wgsa-flex-section {
  display: flex;
  flex-direction: column;
}

.wgsa-upload-progress .wgsa-section-title {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.wgsa-upload-progress .wgsa-section-title.active {
  color: #673c90;
}

.wgsa-upload-progress-switcher .wgsa-section-title {
  transition: var(--transition);
  transition-property: color;
  color: rgba(0, 0, 0, 0.54);
}
