.wgsa-upload-progress {
  display: flex;
  justify-content: space-between;
}

.wgsa-upload-progress > :first-child {
  width: 25%;
}

.wgsa-upload-progress > :last-child {
  width: calc(75% - 16px);
  position: relative;
}

.wgsa-upload-card-list {
  display: block;
  overflow: hidden;
}

.wgsa-upload-card-enter {
  opacity: 0;
}

.wgsa-upload-card-enter.wgsa-upload-card-enter-active {
  opacity: 1;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: opacity;
}

.wgsa-upload-card-leave {
  transform: translateX(0);
}

.wgsa-upload-card-leave.wgsa-upload-card-leave-active {
  transform: translateX(-100%);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-upload-progress .wgsa-card-header i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #d11b1b;
}

.wgsa-upload-progress .wgsa-card-content {
  height: auto;
}

.wgsa-analysis-chart {
  width: 100vh;
  max-width: 100%;
  margin: -16px auto 0;
  position: relative;
}

.wgsa-view-genomes-button {
  position: absolute;
  top: calc(50% + 4.5px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3C7383;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.wgsa-view-genomes-button:hover {
  text-decoration: none !important;
  background-color: #975FAA;
}

.wgsa-upload-legend > li > .material-icons {
  vertical-align: middle;
}

.wgsa-upload-legend li {
  line-height: 1.25;
  margin-bottom: 8px;
}

.wgsa-upload-legend li > ul {
  margin-top: 8px;
  margin-left: 24px;
}

.wgsa-upload-progress-overview p {
  margin-bottom: 0;
}

.wgsa-upload-progress-overview .wgsa-progress-bar {
  justify-content: space-between;
}

.wgsa-upload-progress-overview .wgsa-progress-bar > label {
  width: 120px;
}
