{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="hidable">

	<li class="wgst-hidable" data-hidable-id="{{hidableId}}">
		<!-- <i class="fa fa-eye wgst-hidable-bring-to-front"></i> -->
		<span class="wgst-hidable-toggle">{{hidableLabel}}</span>
		<i class="fa fa-angle-double-right wgst-hidable-toggle-controls"></i>
		<ul class="wgst-hidable-controls wgst--hide-this">

			<li data-wgst-hidable-button="focus">
					<i class="fa fa-crosshairs"></i> <small>Focus</small>
				</a>
			</li>

			<li data-wgst-hidable-controls>
				<a href="#" data-wgst-hidable-button="show">
					<i class="fa fa-eye"></i> <small>Show</small>
				</a>
				<a href="#" data-wgst-hidable-button="hide">
					<i class="fa fa-eye-slash"></i> <small>Hide</small>
				</a>
			</li>

			{{#unless noFullscreen}}
			<li data-wgst-hidable-controls>

				<a href="#" data-wgst-hidable-button="fullscreen" {{#if isFullscreen}}class="wgst--hide-this"{{/if}}>
					<i class="fa fa-arrows-alt"></i> <small>Maximize</small>
				</a>

				<a href="#" data-wgst-hidable-button="panel" {{#if isPanel}}class="wgst--hide-this"{{/if}}>
					<i class="fa fa-square"></i> <small>Minimize</small>
				</a>

			</li>
			{{/unless}}

			{{#if close}}
			<li data-wgst-hidable-controls>
				<a href="#" data-wgst-hidable-button="close">
					<i class="fa fa-close"></i> <small>Close</small>
				</a>
			</li>
			{{/if}}

		</ul>
	</li>

</script>

{% endraw %}