<div class="wgst-init">
  <!-- <img src="" class="wgst-logo"/> -->
  <!-- <div class="wgst-loading"></div> -->

  <div class="wgst-spinner-container">
    <div class="wgst-spinner-large"></div>
  </div>
  <div class="wgst-logo">Whole Genome Sequence Analysis (WGSA)</div>
  <div class="wgst-init-status">Initialising...</div>
  <!--           
  <div class="wgst-init-progress">
    <div class="wgst-init-progress-item wgst-init-progress-item__config">
      <span class="glyphicon glyphicon-record"></span>
      <small>Configure app</small>
    </div>
    <div class="wgst-init-progress-item wgst-init-progress-item__server">
      <span class="glyphicon glyphicon-record"></span>
      <small>Connect to server</small>
    </div>
  </div>
  -->
</div>