<nav class="wgst-navigation" role="navigation">
	<div class="container-fliud">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				
				<!--
				<a href="/" class="wgst-navigation__exit" data-mixpanel-navigation="landing">
					<div class="wgst-header-logo">
						<img src="/images/wgsa_logo.png" />
					</div>
				</a>
				-->

				<div class="wgst-header-collection-name wgst--hide-this"></div>

				<!--
				<ul class="wgst-navigation-main">
					<li>
						<a href="/" class="wgst-navigation__exit">Home</a>
					</li>
				</ul>
				-->

			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<ul class="wgst-navigation-user">
					<li>
						<a href="/" class="wgst-navigation__feedback wgst-navigation--attention"
							data-navigation-id="feedback"
							data-mixpanel-navigation="feedback">
						<i class="fa fa-bullhorn"></i> Feedback</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
