.wgsa-save-for-offline.unsupported p {
  margin: 0;
  /* text-align: center; */
}

.wgsa-save-for-offline .libmr-Checkbox {
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0 8px;
  user-select: none;
  width: 100%;
}

.wgsa-save-for-offline .libmr-Checkbox > label {
  padding-left: 8px;
  width: 100%;
}

.wgsa-save-for-offline a {
  font-weight: 500;
  color: #3c7383;
}
