.wgsa-genome-total {
  color: #87c7a6;
}

.wgsa-drawer--disabled .wgsa-genome-total {
  color: #FF7272;
}

.wgsa-selection-tabs > .mdl-tabs__panel {
  padding: 16px;
  max-height: 351px; /* 400px - 48px header - 1px border */
  overflow-y: auto;
  box-sizing: border-box;
}

.wgsa-genome-checkbox {
  background: none;
  border: none;
  outline: none;
  color: #3c7383 !important;
  vertical-align: middle;
  margin-right: 8px;
}

.wgsa-genome-checkbox > .material-icons {
  font-size: 20px;
}
