.wgsa-genome-total {
  color: #87c7a6;
}

.wgsa-drawer--disabled .wgsa-genome-total {
  color: #FF7272;
}

.wgsa-selection-summary {
  padding: 16px;
}

.wgsa-selection-tabs > .mdl-tabs__panel {
  padding: 16px;
  overflow-y: auto;
}
