html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, .title-font {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .54);
}

h1, .h1 {
  font-size: 45px;
  line-height: 48px;
}

h2, .h2 {
  font-size: 34px;
  line-height: 40px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 1;
}

h5, .h5 {
  font-size: 18px;
  line-height: 1;
}

h6, .h6 {
  font-size: 16px;
  line-height: 1;
}

button {
  border: none;
  background: none;
  /* Really wanted this to help, but it breaks places where browser-specific padding is required */
  /* padding: 0; */
}

button, select {
  cursor: pointer;
  font-family: inherit;
}

select {
  padding: 2px 4px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  background: none;
}

select:hover,
select:focus,
select:active {
  outline: none;
}

a {
  font-weight: 400;
  color: #673c90;
  text-decoration: none;
}

a[href]:hover,
a[href]:focus,
a[href]:active {
  text-decoration: underline;
}

strong, b {
  font-weight: 700;
}

ol {
  padding-left: 16px;
  padding-right: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul.bulleted {
  list-style: outside;
  padding-left: 16px;
}

sup {
  color: #673c90;
}

.danger {
  color: #d11b1b;
}