html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

button, select {
  cursor: pointer;
  font-family: inherit;
}

a {
  font-weight: 400;
  color: #673c90;
  text-decoration: none;
}

strong, b {
  font-weight: 700;
}

ol {
  padding-left: 16px;
  padding-right: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

sup {
  color: #673c90;
}
