.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: #673c90 !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background-color: #673c90;
  background: #673c90;
}

.mdl-layout__header {
    min-height: 56px;
}

.mdl-layout__header-row {
    height: 56px;
}
