.mdl-layout__header {
  background-color: #fff;
  color: #673c90 !important;
}

.mdl-layout__header--primary {
  background-color: #673c90;
  color: #fff !important;
}

.mdl-layout__drawer-button {
  color: #673c90 !important;
}

.mdl-layout__header--primary .mdl-layout__drawer-button {
  color: #fff !important
}


.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: #673c90 !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background-color: #673c90;
  background: #673c90;
}

.mdl-layout__header--skinny {
  min-height: 56px;
}

.mdl-layout__header--skinny .mdl-layout__header-row {
  height: 56px;
}

.mdl-spinner .mdl-spinner__layer-1,
.mdl-spinner .mdl-spinner__layer-3 {
  border-color: #673c90;
}

.mdl-spinner .mdl-spinner__layer-2,
.mdl-spinner .mdl-spinner__layer-4 {
  border-color: #87c7a6;
}
