.CircularProgress-Bg,
.CircularProgress-Fg {
  fill: none;
  stroke-width: 8px;
  opacity: 1;
  transform-origin: center;
  transform: rotate(-90deg); /* starts progress at 12 o' clock position */
}

.CircularProgress-Bg {
  stroke: #ccc;
}

.CircularProgress-Fg,
.CircularProgress-Text {
  transition-duration: 280ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.CircularProgress-Fg {
  transition-property: stroke-dashoffset, stroke, transform;
  /* stroke: #673c90; */
}

.CircularProgress-Text {
  transition-property: fill;
  fill: #673c90;
  font-size: 16px;
}

.CircularProgress-success .CircularProgress-Fg {
  stroke: #48996f;
}
.CircularProgress-success .CircularProgress-Text {
  fill: #48996f;
}
