.wgsa-downloads-menu {
  position: relative;
  background-color: #fff;
  padding: 16px;
}

.wgsa-downloads-menu__list {
  display: inline-block;
  vertical-align: top;
  padding: 8px;
}

.wgsa-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.wgsa-menu > li:last-child > .wgsa-submenu {
  border: none;
}

.wgsa-menu-heading {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.54);
  padding: 16px 16px 8px ;
  margin: 0;
  display: block;
}

.wgsa-menu__item {
  display: block;
  white-space: nowrap;
  font-size: 13px;
  padding: 8px 0;
  transition: background .28s cubic-bezier(.4,0,.2,1);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0,0,0,.870588);
  min-width: 240px;
}

.wgsa-menu__item > a,
.wgsa-menu__item > button {
  width: 100%;
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0 16px;
}

.wgsa-menu__item:hover,
.wgsa-menu__item:focus,
.wgsa-menu__item:active {
  background: rgba(0, 0, 0, 0.09);
}

/* pushes icon in download menu up a bit for alignment */
button.wgsa-download-button:not(.mdl-button--icon) .material-icons {
  margin-top: -4px;
  margin-left: -4px;
}

.wgsa-menu__item .wgsa-download-icon + span {
  display: inline-block;
  vertical-align: middle;
}

.wgsa-menu__item .mdl-spinner {
  position: relative;
  left: -8px;
}

.wgsa-menu-button {
  background-color: #673c90;
  color: #fff;
  padding-right: 12px;
  text-decoration: none;
}

.wgsa-menu-button:hover,
.wgsa-menu-button:focus:not(:active),
.wgsa-menu-button:active,
.wgsa-menu--is-open .wgsa-menu-button {
  background-color: rgba(255, 255, 255, 0.12);
  text-shadow: 1px 1px 1px #673c90;
}
