.wgsa-drag-and-drop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.wgsa-drop-indicator * {
  pointer-events: none;
}*/

.wgsa-drop-indicator__message {
  position: relative;
  background: #673c90;
  background: rgb(255, 255, 255);
  color: rgb(103, 60, 144);
  padding: 32px 64px;
	border-radius: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.wgsa-drop-indicator__icons {
  position: absolute;
  text-align: center;
  top: -48px;
  left: 0;
  right: 0;
}

/*.wgsa-drag-and-drop.is-dragover header *,
.wgsa-drag-and-drop.is-dragover main * {
  pointer-events: none;
}*/

.wgsa-drag-and-drop__button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #673c90;
  color: #fff;
}

.wgsa-drag-and-drop__button:hover {
  background: #a386bd;
}
