fieldset > legend {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 8px;
  padding: 0;
}

.mdl-textfield__label {
  text-transform: uppercase;
}

.mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield.is-dirty .mdl-textfield__label {
  color: rgba(0, 0, 0, 0.54) !important;
}

.mdl-textfield__label::after {
  background-color: #673c90;
}

.wgsa-textfield-readonly .mdl-textfield__input {
  border: none;
}

.wgsa-textfield-readonly .mdl-textfield__label::after {
  display: none;
}

.wgsa-download-button {
  display: inline-block;
  vertical-align: middle;
}

.wgsa-download-button .wgsa-button-icon {
  color: #673c90;
}
