.wgsa-home {
  background-color: #efefef;
}

.wgsa-home h2 {
  font-size: 34px;
  line-height: 40px;
  color: #673c90;
}

.wgsa-home a {
  color: #673c90;
}

.wgsa-home a:hover,
.wgsa-home a:focus,
.wgsa-home a:active {
  color: #a386bd;
}

.wgsa-home header {
  background: #fff;
  color: #673c90;
}

.wgsa-home-header {
  margin: 0 0;
  padding: 0 16px 0;
}

.wgsa-home-header .mdl-layout-title {
  align-self: flex-end;
}

.cgps-logo {
  display: block;
}

.cgps-logo > img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.mdl-layout__header .cgps-logo {
  height: 36px;
  float: right;
}

.wgsa-home__intro {
  text-align: center;
  padding: 56px 0;
}

.wgsa-home__intro h1 {
  padding-top: 16px;
  font-size: 56px;
}

.wgsa-home__intro p {
  margin: 0 auto 32px;
  padding: 0 16px;
  font-size: 20px;
  line-height: 1;
  color: #666;
  font-weight: 200;
}

.wgsa-logo {
  width: 25em;
  margin-left: -5em;
}

.wgsa-cta {
  background-color: #673c90 !important;
  color: #fff !important;
  padding: 16px 32px;
  text-transform: none;
  font-size: 20px;
}

.wgsa-cta:hover,
.wgsa-cta:focus,
.wgsa-cta:active {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.28),0 2px 20px 0 rgba(0,0,0,.24),0 4px 8px -2px rgba(0,0,0,.4);
}

.wgsa-home__features {
  max-width: 900px;
  margin: 48px auto;
}

.wgsa-home__features > .mdl-grid {
  margin-bottom: 48px;
}

.wgsa-home__features > h2 {
  text-align: center;
}

.wgsa-features-card {
  background: #fff;
  color: #444;
  box-sizing: border-box;
  width: 45% !important;
  padding: 40px 56px 20px;
  padding-left: 56px;
  margin-right: 5% !important;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: -16px -16px;
  background-image: url('/assets/img/WGSA.Icon.FINAL.svg');
}

.wgsa-features-card--reverse {
  background-position: calc(100% + 16px) -16px;
  background-image: url('/assets/img/WGSA.Icon.FINAL.reverse.svg');
  margin-right: 0 !important;
  margin-left: 5% !important;
  padding-left: 40px;
  padding-right: 56px;
}

.wgsa-features-card p {
  margin-top: 0;
}

.wgsa-feature-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wgsa-file-icon {
  position: relative;
}

.wgsa-file-icon > i {
  font-size: 6rem;
  user-select: none;
}

.wgsa-file-icon > span {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 1.25rem;
  font-size: 1.125rem;
  text-align: center;
}

.wgsa-result-icon {
  font-size: 4rem;
  margin: 0.5rem;
  color: #673c90;
}

.wgsa-compare-icon {
  font-size: 6rem;
  margin: 0.5rem;
}

.wgsa-home__features .wgsa-menu-button:hover,
.wgsa-home__features .wgsa-menu-button:active,
.wgsa-home__features .wgsa-menu-button:focus {
  background: #673c90;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.28),0 2px 20px 0 rgba(0,0,0,.24),0 4px 8px -2px rgba(0,0,0,.4);
}

.wgsa-home__features .CircularProgress {
  overflow: visible;
}

.wgsa-feature-icons--progress {
  display: flex;
  justify-content: space-around;
  padding-right: 32px;
}

.wgsa-feature-icons .mdl-switch {
  width: 72px !important;
  margin: 0 4px !important;
}

.wgsa-feature-icons .wgsa-switch i {
  font-size: 48px;
}

.wgsa-feature-icons .wgsa-switch .mdl-switch__track {
  width: 72px;
  height: 28px;
  top: 10px
}

.wgsa-feature-icons .wgsa-switch .mdl-switch__thumb {
  left: 32px;
  top: 4px;
  height: 40px;
  width: 40px;
}

.wgsa-home footer {
  background-color: #666;
  padding: 64px 0 16px;
  text-align: center;
  color: #fff;
}

.wgsa-home footer a {
  color: #fff;
  text-decoration: none;
}

.wgsa-home footer a:hover,
.wgsa-home footer a:focus,
.wgsa-home footer a:active {
  color: #ccc;
}

.wgsa-footer-content {
  max-width: 732px;
  margin: 0 auto;
}

.wgsa-footer-content img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 32px 32px;
  max-width: 320px;
}

.contact-email {
  font-size: 24px;
  line-height: 1;
  display: block;
  padding: 24px 0;
}


.copyright {
  font-size: 13px;
}
