.wgsa-home {
  background-color: #efefef;
}

.wgsa-home h2 {
  font-size: 34px;
  line-height: 40px;
  color: #673c90;
}

.wgsa-home a {
  color: #673c90;
}

.wgsa-home a:hover,
.wgsa-home a:focus,
.wgsa-home a:active,
.wgsa-home a:visited {
  color: #a386bd;
}

.wgsa-home header {
  background: #fff;
  color: #673c90;
}

.wgsa-home-header {
  margin: 0 0;
  padding: 0 16px 0;
}

.wgsa-home-header a {
  text-decoration: none;
}

.wgsa-home-header a > img,
.wgsa-home-header a > span {
  vertical-align: middle;
}

.cgps-logo {
  height: 40px;
}

.wgsa-home__intro {
  padding: 3em 1em;
  text-align: center;
}

.wgsa-home__intro h1 {
  padding-top: 16px;
  font-size: 56px;
}

.wgsa-home__intro p {
  margin: 0 auto 32px;
  padding: 0 16px;
  font-size: 20px;
  line-height: 1;
  color: #666;
  font-weight: 200;
}

.wgsa-logo {
  width: 25em;
  margin-left: -5em;
}

.wgsa-cta {
  background-color: #673c90 !important;
  color: #fff !important;
  padding: 16px;
  text-transform: none;
  font-size: 20px;
}

.wgsa-cta:hover,
.wgsa-cta:focus,
.wgsa-cta:active {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.28),0 2px 20px 0 rgba(0,0,0,.24),0 4px 8px -2px rgba(0,0,0,.4);
}

.wgsa-home__features {
  max-width: 900px;
  margin: 48px auto;
}

.wgsa-home__features > .mdl-grid {
  margin-bottom: 48px;
}

.wgsa-home__features > h2 {
  text-align: center;
}

.wgsa-features-card {
  background: #fff;
  color: #444;
  box-sizing: border-box;
  width: 45% !important;
  padding: 40px 40px 16px;
  padding-left: 56px;
  margin-right: 5% !important;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: -16px -16px;
  background-image: url('/assets/img/WGSA.Icon.FINAL.svg');
}

.wgsa-features-card--reverse {
  background-position: calc(100% + 16px) -16px;
  background-image: url('/assets/img/WGSA.Icon.FINAL.reverse.svg');
  margin-right: 0 !important;
  margin-left: 5% !important;
  padding-left: 40px;
  padding-right: 56px;
}

.wgsa-features-card p {
  margin-top: 0;
}

.wgsa-file-icon {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.wgsa-file-icon > i {
  font-size: 8rem;
  user-select: none;
}

.wgsa-file-icon > span {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 2rem;
  font-size: 1.75rem;
}


.wgsa-home footer {
  background-color: #666;
  padding: 64px 0 16px;
  text-align: center;
  color: #fff;
}

.wgsa-home footer a {
  color: #fff;
  text-decoration: none;
}

.wgsa-home footer a:hover,
.wgsa-home footer a:focus,
.wgsa-home footer a:active,
.wgsa-home footer a:visited {
  color: #673c90;
}

.wgsa-footer-content {
  max-width: 732px;
  margin: 0 auto;
}

.wgsa-footer-content img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 32px 32px;
  max-width: 320px;
}

.contact-email {
  font-size: 24px;
  line-height: 1;
  display: block;
  padding: 24px 0;
}

.copyright {
  font-size: 13px;
}
