.wgsa-resizer {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.24);
  opacity: 1;
  z-index: 3;
  background-clip: padding-box;
}

.wgsa-resizer:hover {
  transition: all .28s cubic-bezier(.4,0,.2,1);
  background: #a386bd;
}

.wgsa-resizer.horizontal {
  height: 7px;
  margin: -3px 0;
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.wgsa-resizer.vertical {
  width: 7px;
  margin: 0 -3px;
  border-left: 3px solid rgba(255, 255, 255, 0);
  border-right: 3px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
