.wgsa-loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
}

.wgsa-loading-content {
  width: calc(10 / 12 * 100%);
  text-align: center;
  margin: auto;
  padding: 32px 0;
}

.wgsa-loading-logo {
  width: 240px;
  margin-left: -48px; /* width / 5 */
  padding-bottom: 24px;
}

.wgsa-loading-container h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  color: #a386bd;
}

.wgsa-loading-container p {
  color: #555;
  letter-spacing: normal;
  max-width: 770px;
  margin: 0 auto 24px;
  line-height: 1.2;
}

.wgsa-loading-container p:last-child {
  margin-bottom: 0;
}

.wgsa-loading-container .mdl-button {
  color: #fff;
  background: #673c90;
  margin-bottom: 36px;
}

.wgsa-loading-container .mdl-button:hover,
.wgsa-loading-container .mdl-button:focus,
.wgsa-loading-container .mdl-button:active {
  color: #fff;
  background: #673c90;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.28),0 2px 20px 0 rgba(0,0,0,.24),0 4px 8px -2px rgba(0,0,0,.4);
}

.wgsa-failed-assemblies {
  margin-top: -8px;
}

.wgsa-failed-assemblies,
.wgsa-failed-assemblies > li {
  list-style: none;
  padding: 0;
  color: #673c90;
  font-weight: bold;
}

.wgsa-loading-container a {
  color: #673c90;
}

.wgsa-loading-container a:hover,
.wgsa-loading-container a:focus,
.wgsa-loading-container a:active {
  color: #a386bd;
}

.wgsa-loading-container .mdl-spinner {
  display: block;
  margin: 16px auto 0;
}


.wgsa-loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}
