.wgsa-loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wgsa-loading-logo {
  width: 240px;
  margin-left: -48px; /* width / 5 */
  margin-top: -120px; /* width / 2 */
  padding-bottom: 48px; /* width / 5 */
}

.wgsa-loading-container h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  color: #a386bd;
}

.wgsa-loading-container a {
  color: #673c90;
}

.wgsa-loading-container a:hover,
.wgsa-loading-container a:focus,
.wgsa-loading-container a:active,
.wgsa-loading-container a:visited {
  color: #a386bd;
}

.wgsa-loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}
