.mdl-layout__drawer {
  background: #fff;
}

.mdl-layout__drawer > .mdl-layout-title {
  padding: 32px 48px;
  margin-left: -24px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgba(0, 0, 0, 0.870588);
  font-size: 16px;
  line-height: 16px;
}
