.mdl-layout__drawer {
  background: #fff;
}

.mdl-layout__drawer > .mdl-layout-title {
  padding: 32px 48px;
  margin-left: -24px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-layout__drawer > .mdl-layout-title > img {
  width:100%;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgba(0, 0, 0, 0.870588);
  font-size: 16px;
  line-height: 16px;
  transition: background .28s cubic-bezier(.4,0,.2,1);
  padding-left: 24px;
}

.mdl-layout__drawer > .cgps-logo {
  margin-top: auto;
  margin-bottom: 16px;
  height: 48px;
}

.mdl-navigation__link > span {
  line-height: 16px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -2px;
}

.mdl-navigation__link .material-icons {
  margin-right: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: #673c90;
}

.mdl-navigation__link--active {
  color: #673c90 !important;
  font-weight: 700;
}

.mdl-layout__drawer > .contact-email {
  font-size: 16px;
  text-align: center;
  padding-top: 0;
  color: #673c90;
}

.mdl-layout__drawer > .contact-email:hover,
.mdl-layout__drawer > .contact-email:focus,
.mdl-layout__drawer > .contact-email:active {
  color: #a386bd;
}
