.mdl-progress {
  width: auto;
}

.mdl-progress > .progressbar {
  background: #673c90 !important;
}

.mdl-progress > .bufferbar,
.mdl-progress__indeterminate > .auxbar {
  /*background: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right, #fff ,#fff);*/
  background: transparent !important;
}
