.wgsa-species-home {
  background-color: #efefef;
}

.wgsa-species-home-intro p {
  font-size: 14px !important;
  text-transform: none;
  padding: 0px;
  overflow: hidden;
  color: #555;
  margin: 0 0 16px;
  max-width: 900px;
  line-height: 24px;
  text-align: justify;
}

.wgsa-species-home-intro p:last-child {
  margin-bottom: 0;
}

.wgsa-species-home-other .wgsa-card {
  margin-bottom: 16px;
}

.wgsa-species-home-other .wgsa-card-content {
  padding: 32px 32px 16px;
}

.wgsa-species-downloads .wgsa-card-content {
  padding: 0;
}

.wgsa-species-downloads .wgsa-download-button {
  padding-left: 32px;
}

.wgsa-species-home-container .mdl-grid {
  margin: auto;
  max-width: 900px;
}

.wgsa-species-collection-list {
  padding: 0 !important;
}

.wgsa-species-collection-list-container {
  margin: 0;
  padding: 0;
}

.wgsa-species-collection-list-item {
  padding: 0 32px 4px;
  position: relative;
  list-style: none;
  border-bottom: 1px  solid rgba(0, 0, 0, 0.12);
}

.wgsa-species-collection-list-item__utils {
  position: absolute;
  top: 14px;
  right: 32px;
  line-height: 36px;
}

.wgsa-species-collection-list-item p {
  margin: 0px;
}

.wgsa-species-collection-list-item .selectButton {
  height: auto;
  overflow: none;
  width: 100%;
  text-align: left;
  padding: 16px 0px;
}

.wgsa-species-collection-list-item:hover,
.wgsa-species-collection-list-item:focus,
.wgsa-species-collection-list-item:active {
  background-color: rgba(158,158,158,.2);
}

.wgsa-species-collection-list-item.selected {
  background-color: rgba(158,158,158,.4);
}

.wgsa-species-collection-list-item .wgsa-external-link {
  color: #369;
}

.wgsa-collection-author {
  color: #673c90;
  font-size: 16px;
  text-transform: none;
}

.wgsa-collection-title {
  font-size: 14px;
  text-transform: none;
  padding: 0px;
  overflow: hidden;
  display: block;
  color: #666;
}

.wgsa-species-home-desc {
  display: flex;
  justify-content: space-around;
}

.wgsa-species-collection-list-item.mdl-button {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.wgsa-species-collection-list-item .selectButton:hover,
.wgsa-species-collection-list-item .selectButton:focus,
.wgsa-species-collection-list-item .selectButton:active {
  background-color: transparent;
}

.wgsa-species-home-download-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.wgsa-species-home-download-links a {
  margin: 8px 0px;
  background-color: #ddd;
  line-height: 40px;
  height: 40px;
}

.wgsa-species-home-download-links a:hover {
  background-color: #bbb;
  color: #673c90;
}
