.wgsa-species-home:after {
  background-image: url("/assets/img/WGSA.Icon.FINAL.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.1;
  top: -20em;
  left: -30em;
  bottom: -0px;
  right: 0px;
  position: absolute;
  z-index: -1;
}
.wgsa-species-home-collection-list {
  margin: auto;
  max-width: 900px;
}
.wgsa-species-home-other {
  width: 100%;
  padding: 0;
  margin: 0;
}
.wgsa-species-home-other .mdl-cell{
  display: flex;
}

.wgsa-species-home-other .mdl-cell > div{
  width: 100%;
  position: relative;
}

.wgsa-species-home-container .mdl-grid {
  margin: auto;
  max-width: 900px;
  padding: 8px 0;
}
.wgsa-species-home-container .wgsa-card-content {
  padding: 8px 32px;
}
.wgsa-species-collection-list-container {
  max-height: 400px;
  margin: 16px 0px;
  overflow: auto;
  padding: 0;
}
.wgsa-species-collection-list-item {
  margin: 0;
  position: relative;
  list-style: none;
  border-bottom: 1px  solid rgba(0, 0, 0, 0.12);
}

.wgsa-species-collection-list-item__utils {
  position: absolute;
  right: 0;
}

.wgsa-species-collection-list-item p{
  margin: 0px;
}

.wgsa-species-collection-list-item .selectButton {
  height: auto;
  overflow: none;
  width: 100%;
  text-align: left;
  padding: 16px 0px;
}

.wgsa-species-collection-list-item:hover,
.wgsa-species-collection-list-item:focus,
.wgsa-species-collection-list-item:active {
  background-color: rgba(158,158,158,.2);
}

.wgsa-species-collection-list-item.selected {
  background-color: rgba(158,158,158,.4);
}

.wgsa-collection-author {
  color: #673c90;
  font-size: 16px;
  padding: 0 8px;
}

.wgsa-collection-title {
  font-size: 14px;
  font-weight: 100;
  text-transform: none;
  padding: 0px;
  overflow: hidden;
  display: block;
  color: #666;
  padding: 0 8px;
}

.wgsa-species-collection-list-item.mdl-button {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.wgsa-species-collection-list-item .selectButton:hover,
.wgsa-species-collection-list-item .selectButton:focus,
.wgsa-species-collection-list-item .selectButton:active  {
  background-color: transparent;
}

.wgsa-species-home-download-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.wgsa-species-home-download-links a {
  margin: 8px 0px;
  background-color: #ddd;
  /*color: white;*/
  /*width: 60px;*/
  line-height: 40px;
  height: 40px;
}

.wgsa-species-home-download-links a:hover {
  background-color: #bbb;
  color: #673c90;
}