.wgsa-switch {
  display: flex;
  user-select: none;
  justify-content: space-between;
}

.wgsa-switch:hover {
  cursor: pointer;
}

.wgsa-switch .mdl-switch__input,
.wgsa-switch .mdl-switch__ripple-container {
  display: none;
}

.wgsa-switch .mdl-switch {
  margin: 0 2px;
  width: 36px;
}

.wgsa-switch .mdl-switch__thumb,
.wgsa-switch .is-checked .mdl-switch__thumb {
  background: #673c90;
}

.wgsa-switch .is-checked .mdl-switch__track {
  background: rgba(0, 0, 0, 0.26);
}

.wgsa-switch i {
  color: rgba(0, 0, 0, 0.39);
}

.wgsa-switch i.active {
  color: #673c90;
}

.wgsa-switch-background {
  background: #fff;
  padding: 4px 8px;
  border-radius: 24px;
}

.wgsa-switch-background--see-through {
  background: rgba(255, 255, 255, 0.87);
}
