.wgsa-table-header {
  vertical-align: top;
  padding: 0 18px 0;
  box-sizing: border-box;
  background: none !important;
  border-right: none;
}

.wgsa-selectable-column-heading {
  background: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.70);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0px;
  line-height: 16px;
  margin: 0 -6px 2px;
  padding: 0px 6px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: color, background, background-color;
  white-space: nowrap;
}

.wgsa-table-header--unstyled button {
  background: none;
  cursor: auto !important;
}

.wgsa-selectable-column-heading:hover,
.wgsa-selectable-column-heading:focus,
.wgsa-selectable-column-heading:active {
  outline: none;
}

.wgsa-selectable-column-heading:hover {
  cursor: pointer;
}

.wgsa-table-header--selected .wgsa-selectable-column-heading {
  background: #673c90;
  color: #fff;
}

.wgsa-table-row:hover {
  cursor: pointer;
}
.wgsa-table-row:hover .public_fixedDataTableCell_main,
.wgsa-table-cell--selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.wgsa-table-cell {
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-right: none;
  padding: 0 18px;
  box-sizing: border-box;
  font-size: 13px;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: color, background, background-color;
  white-space: nowrap;
}

.wgsa-table-cell--bordered,
.wgsa-table-cell--resistance {
  border-left: 2px solid #F0F0F0;
}

.wgsa-table-cell--resistance,
.wgsa-table-cell--skinny {
  padding: 0;
}

.wgsa-table-cell a {
  color: #673c90;
}

.wgsa-table-downloads {
  padding: 0 8px;
}

.wgsa-table-header .wgsa-table-downloads {
  line-height: 32px;
}

.wgsa-table-downloads .wgsa-download-button {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 28px;
}

.wgsa-table-downloads .wgsa-download-button,
.wgsa-table-downloads .wgsa-download-icon {
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.wgsa-table-downloads .wgsa-download-button > span {
  display: none;
}

.wgsa-table-header .wgsa-download-button {
  margin-bottom: -4px;
}

.wgsa-table-header .mdl-spinner {
  width: 24px;
  height: 24px;
}

.wgsa-download-label {
  font-size: 8px;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  text-transform: none;
}

.wgsa-table-cell .mdl-button:hover,
.wgsa-table-cell .mdl-button:focus,
.wgsa-table-cell .mdl-button:active {
  background-color: rgba(255, 255, 255, 0.8);
}

.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap1,
.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap2,
.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap3,
.wgsa-table-header--resistance .public_fixedDataTableCell_cellContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.wgsa-table-header--resistance .public_fixedDataTableCell_cellContent {
  text-align: center;
}

.wgsa-table-header--resistance button {
  line-height: 16px;
  margin: 0;
  padding: 2px 6px 8px;
  position: relative;
  text-transform: uppercase;
  top: 30px;
  white-space: nowrap;
  z-index: 1;
  /*width: 36px;*/
}

.wgsa-resistance-icon {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  right: 0;
  font-size: 20px;
  text-align: center;
}

.wgsa-resistance-icon--resistant {
  color: #d11b1b;
}

.wgsa-assembly-name-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wgsa-assembly-name-cell a {
  color: #673c90;
}

.wgsa-assembly-name-cell .material-icons {
  font-size: 16px;
}

.wgsa-assembly-name-cell .mdl-button--icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
}

.wgsa-resistance-mechanism-list {
  display: flex;
  justify-content: center;
}

.wgsa-resistance-mechanism {
  color: #d11b1b;
  background: none;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0px;
  line-height: 16px;
  margin: 0 2px;
  padding: 0px 6px;
  outline: none;
}
