.wgsa-table-header {
  vertical-align: top;
  padding: 0 18px 0;
  box-sizing: border-box;
  background: none !important;
  border-right: none;
}

.wgsa-selectable-column-heading {
  background: none;
  color: rgba(0, 0, 0, 0.54);
  border: none;
  padding: 0 4px;
  margin: 0 -4px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 12px;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.wgsa-selectable-column-heading:hover,
.wgsa-selectable-column-heading:focus,
.wgsa-selectable-column-heading:active {
  outline: none;
}

.wgsa-selectable-column-heading:hover {
  cursor: pointer;
}

.wgsa-table-header--selected .wgsa-selectable-column-heading {
  border-bottom: 2px solid #673c90;
  color: #673c90;
}

.wgsa-table-row:hover {
  cursor: pointer;
}
.wgsa-table-row:hover .public_fixedDataTableCell_main,
.wgsa-table-cell--selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.wgsa-table-cell {
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-right: none;
  padding: 0 18px;
  box-sizing: border-box;
  font-size: 13px;
  white-space: nowrap;
}

.wgsa-table-cell--bordered,
.wgsa-table-cell--resistance {
  border-left: 2px solid #F0F0F0;
}

.wgsa-table-cell--resistance,
.wgsa-table-cell--skinny {
  padding: 0;
}

.wgsa-table-cell a {
  color: #673c90;
}

.wgsa-table-downloads {
  padding: 0 8px;
}

.wgsa-table-downloads .wgsa-download-button {
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.wgsa-table-downloads .wgsa-download-button > span {
  display: none;
}

.wgsa-table-header .wgsa-download-button {
  margin-bottom: -4px;
}

.wgsa-download-label {
  font-size: 8px;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  text-transform: none;
}

.wgsa-table-cell .mdl-button:hover,
.wgsa-table-cell .mdl-button:focus,
.wgsa-table-cell .mdl-button:active {
  background-color: rgba(255, 255, 255, 0.8);
}

.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap1,
.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap2,
.wgsa-table-header--resistance .fixedDataTableCellLayout_wrap3,
.wgsa-table-header--resistance .public_fixedDataTableCell_cellContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.wgsa-table-header--resistance button {
  transform: rotate(-45deg);
  transform-origin: left;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  margin: 0;
  margin-left: 37.5%;
  padding-left: 4px;
  line-height: 16px;
  z-index: 1;
}

.wgsa-resistance-icon {
  position: absolute;
  left: 0;
  top: calc(50% - 13px);
  right: 0;
  font-size: 24px;
  padding: 2px 0;
  text-align: center;
}

.wgsa-resistance-icon--resistant {
  color: #d11b1b;
}

.wgsa-assembly-name-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wgsa-assembly-name-cell a {
  color: #673c90;
}

.wgsa-assembly-name-cell .material-icons {
  font-size: 20px;
}
