.wgsa-tree {
  width: 100%;
  height: 100%;
  background: #fff;
}

#phylocanvas-container {
  user-select: none;
}

.wgsa-tree-header {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 32px;
  padding: 16px 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.wgsa-tree-heading {
  line-height: 1;
  font-size: 20px;
  margin: 0px;
  color: #673c90;
  flex-grow: 1;
}

.wgsa-tree-heading > span {
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 24px;
}

.wgsa-tree-icon {
  color: #673c90;
  background: rgba(255, 255, 255, 0.87);
  margin-left: 12px;
}

div.wgsa-tree-icon:hover,
div.wgsa-tree-icon:focus,
div.wgsa-tree-icon:active {
  background: rgba(255, 255, 255, 0.87);
  cursor: default;
}

.wgsa-tree-menu {
  align-self: flex-end;
}

.wgsa-tree-menu .mdl-menu__item {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}

.wgsa-tree-menu a {
  text-decoration: none;
  color: inherit;
}

.wgsa-tree-actions {
  color: #673c90;
  background: rgba(255, 255, 255, 0.87);
}

.wgsa-tree-controls {
  background: rgba(255, 255, 255, 0.87);
  padding: 4px 0;
  border-radius: 8px;
}

.wgsa-tree-control .mdl-slider {
  display: none;
}

.wgsa-tree-control .mdl-slider.is-upgraded {
  display: block;
}

.wgsa-tree-control .mdl-slider::thumb,
.mdl-slider__background-lower {
  background: #673c90;
}

.wgsa-tree-control .mdl-slider:active::thumb {
  background: #a386bd;
}

.wgsa-tree-control {
  margin: 0 -20px;
}

.wgsa-tree-control label > span {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
}

.wgsa-select-tree-type {
  text-transform: capitalize;
  display: block;
  margin-bottom: 8px;
  padding: 2px 4px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.87);
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
  flex-shrink: 1;
}

.wgsa-select-tree-type:hover,
.wgsa-select-tree-type:focus,
.wgsa-select-tree-type:active {
  outline: none;
  background: rgba(255, 255, 255, 0.87);
}
