.wgsa-tree-header {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  height: 32px;
  padding: 16px;
  z-index: 10;
}

.wgsa-tree-heading {
  line-height: 32px;
  font-size: 20px;
  margin: 0;
  float: left;
  padding-top: 4px;
  padding-left: 52px;
  color: #673c90;
}

.wgsa-tree-return {
  position: absolute;
  left: 16px;
}

.wgsa-tree-return.mdl-button--fab {
  color: #673c90;
  background-color: #fff;
  border: 1px solid #a386bd;
}

.wgsa-tree-menu {
  position: absolute;
  top: 20px;
  right: 16px;
}

.wgsa-tree-menu a {
  text-decoration: none;
  color: inherit;
}

.wgsa-tree-actions {
  color: #673c90;
}

.wgsa-tree-control .mdl-slider {
  display: none;
}

.wgsa-tree-control .mdl-slider.is-upgraded {
  display: block;
}

.wgsa-tree-control .mdl-slider::thumb,
.mdl-slider__background-lower {
  background: #673c90;
}

.wgsa-tree-control .mdl-slider:active::thumb {
  background: #a386bd;
}

.wgsa-tree-control label {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
}
