/**** UploadReview - Analysis ****/

.welcome-card-wide.mdl-card {
  max-width: auto;
  width: 500px;
  background: transparent;
}
.welcome-card-wide > .mdl-card__title {
  color: #ccc;
  height: 200px;
  background: url('../../assets/img/WGSA_logo.png') center no-repeat;
  background-position: -40px -40px;
}

.welcome-card-wide > .mdl-card__title h2{
  font-size: 26px;
  font-weight: 300;
}
#loadingAnimation.mdl-progress {
  width: auto;
}
.uploadReviewAnalysisStyle input {
  outline: none;
}
.uploadReviewAnalysisStyle, .mdl-textfield {
  padding-right: 10px;
}

.analysisItemLabel {
  color: #777;
  font-weight: 100;
  text-transform: lowercase;
}

.assemblyWorkspaceContainer {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.assemblyWorkspaceContainer .welcomeContainer {
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

.assemblyWorkspaceDataDisplayContainer {
  width: 80%;
  overflow: auto;
}
/*********************************/

/**** UploadReview - Navigation Left Pane ****/

.uploadWorkspaceNavigationContainer {
  width: 20%;
  min-width: 200px;
  float: left;
  background: #fff;
  overflow: auto;
  height: 100%;
}

.uploadWorkspaceNavigationTitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.assemblyNavTitle {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.assemblyListItem {
  background-color: #fff;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: inline-block;
  /*position: absolute;*/
  float: left;
}

.assemblyListItem a {
  font-size: 12px;
  font-weight: 100;
  color: #444;
  margin: 0;
  cursor: pointer;
  text-align: left;
  text-transform: none;
  /*width: 100%;*/
  display: block;
  float: left;
}

.assemblyListItem a:hover {
  color: inherit;
}

/*.assemblyListItem span {
  padding: 7px 0px 0px 0px;
}
*/

.assemblyListItem .deleteButton {
  color: #ec0974;
}
.assemblyListItem .utilityButton {
  float: right;
  right: 10px;
  color: #777;
}
.assemblyListItem .utilityButton i:hover{
/*  font-size: 20px;
  padding: 2px;*/
}


.assemblyListItem .material-icons {
  font-size: 14px;  /* Preferred icon size */
}

/*********************************************/

/**** SVG Chart CSS ****/
.axis {
  fill: none;
  stroke: #000;
}
text {
  font-size: 11px;
  font-weight: 100;
}
text.axis-label {
  stroke: #888;
  stroke-width: 0.05em;
  letter-spacing: 0.03em;
  font-size: 12px;
  text-transform: uppercase;
}
circle {
  stroke-width: 0.5px;
  fill: #673c90;
  opacity: 0.5;
}
path {
  stroke: #aaa;
  fill: none;
}
path.n50-path {
  fill: none;
}
.n50-group circle {
  fill: #000;
  opacity: 1;
}
.n50-group text {
  fill: #000;
  font-weight: 400;
  font-size: 11px;
}
.n50-group path {
  stroke: #000;
}
/**************************/
