
/**** Upload Overview ****/

.wgsa-workspace-click-area {
  height: 100%;
  width: 100%;
}

.wgsa-workspace-click-area:hover {
  cursor: pointer;
}

.overview-card-wide.mdl-card  {
  width: 100%;
}

/**** Upload Review - Header ****/

@media (max-width: 1024px) {

  .mdl-layout__header-row {
    padding-left: 60px !important;
  }

  .mdl-layout__header .mdl-layout__drawer-button {
    color: #673c90;
  }

}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
      width: calc(100% - 16px);
  }
}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-grid--no-spacing>.mdl-cell--6-col, .mdl-grid--no-spacing>.mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
      width: 50%;
  }
}
/**** UploadReview - Analysis ****/

.welcome-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-intro {
  font-size: 24px;
  line-height: 32px;
  color: #a386bd;
  margin-bottom: 32px;
  font-weight: 100;
}

.welcome-card {
  width: 500px;
  min-height: 200px;
  padding: 0 24px;
  margin-bottom: 32px;
  box-sizing: border-box;
  background: url('/assets/img/WGSA_logo.png') #fff no-repeat;
  background-size: 60px;
  background-position: -15px -15px;
}

.welcome-card:last-child {
  margin-bottom: 0;
}

.welcome-card--reverse {
  background-image: url('/assets/img/WGSA_logo_flipped.png');
  background-position: calc(100% + 15px) -15px;
}

.welcome-card__title {
  font-size: 20px;
  text-align: right;
  color: #673c90;
  line-height: 1;
  margin-left: 56px;
  margin-bottom: 32px;
}

.welcome-card--reverse .welcome-card__title {
  text-align: left;
  margin-left: 0px;
}

#loadingAnimation.mdl-progress {
  width: auto;
}

.uploadReviewAnalysisStyle input {
  outline: none;
}

.mdl-card__supporting-text {
  padding: 0px;
}

.mdl-textfield {
  color: #666;
}

.analysisItemLabel {
  color: #777;
  font-weight: 100;
  text-transform: lowercase;
  padding: 10px 0px;
}

.assemblyWorkspaceContainer .mdl-layout__content{
  padding: 32px;
}
.assemblyWorkspaceContainer .mdl-cell {
  background-color: #fff;
}

.assemblyWorkspaceContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*padding: 32px;*/
  justify-content: space-around;
  margin: 8px;
}

.overviewContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: space-around;
  margin: 8px;
}


/*.assemblyWorkspaceContent .mdl-cell{
  width: calc(50% - 32px);
}

.overviewContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: space-around;
  margin: 8px;
}

.overview-cell{
  width: calc(50% - 32px);
}

.over-view-map-cell {
  margin: 16px;
  width: calc(100% - 32px);
}
*/
.card-style {
  background: #fff;
  padding: 32px;
}

.card-style--no-padding {
  background: #fff;
}

.heading {
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  padding: 4px 32px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.metadata-fields {
  overflow: hidden;
}

.metadata-fields__other {
  margin: 16px 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metadata-input-field {
  text-align: center;
  /*width: auto;*/
}

.metadata-fields__other .mdl-textfield {
  margin: 16px 0px;
}

.metadata-field__date .mdl-textfield {
  margin-right: 8px;
  width: 56px;
}

.overview-fields {
  margin-right: 10px;
  width: 50%;
}

.mapDivStyle {
  height: 100%;
}

.assembly-map {
  padding-bottom: 30px;
}
.wgsa-chart-select .mdl-tabs__tab {
  flex-grow: 1;
  padding: 0px;
  white-space: nowrap;
}


.overflow-y--auto {
  overflow-y: auto;
}

.wgsa-overview-container {
/*  display: flex;
  flex-direction: column;
*/}

.wgsa-overview-container > .mdl-cell{
/*  position: relative;
  flex-grow: 1;
  flex-basis: 0;*/
}
/*********************************/

/**** UploadReview - Navigation Left Pane ****/
.navigation-container {
  background: url('/assets/img/WGSA_logo.png') #fff no-repeat;
  background-size: 80px;
  background-position: -20px -20px;
  text-align: center;
}

.uploadWorkspaceNavigationTitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 64px;
  margin: 40px 0px 0px 0px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.uploadWorkspaceNavigationTitle > .mdl-badge:after {
  background: #a386bd;
}

.assemblyNavTitle {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.overview-button {
}

.wgsa-assembly-list-wrapper {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.assemblyListContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
}

.assemblyListItem {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.assemblyListItem .selectButton {
  height: auto;
  overflow: none;
  width: 100%;
}

.assemblyListItem .deleteButton {
  color: #777;
}

.assembly-list-item__validate-icon {
  position: absolute;
  top: 7px;
  left: -18px;
}

.assemblyListItem:hover,
.assemblyListItem:focus,
.assemblyListItem:active {
  background-color: rgba(158,158,158,.2);
}

.assemblyListItem.selected {
  background-color: rgba(158,158,158,.4);
}

.assemblyListItem .selectButton span.filename {
  font-size: 12px;
  font-weight: 100;
  text-transform: none;
  padding: 0px;
  overflow: hidden;
  width: 160px;
  display: block;
  text-overflow: ellipsis;
}

.assemblyListItem.mdl-button {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.assemblyListItem .selectButton:hover,
.assemblyListItem .selectButton:focus,
.assemblyListItem .selectButton:active  {
  background-color: transparent;
}

.assemblyListItem .utilityButton .material-icons {
  font-size: 16px;  /* Preferred icon size */
}

.assembly-list-item__utils {
  position: absolute;
  top: 2px;
  right: 0;
}

.wgsa-upload-navigation__footer {
  padding: 16px 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.wgsa-upload-navigation__footer button {
  margin: 0px 10px;
}

.confirm-delete-button {
  color: #777;
  width: 50%;
}

.mdl-button--accent.mdl-button--accent {
  color: #9476b1;
}

.progress-spinner {
  width: 40px;
  height: 40px;
  margin-top: 0.4px;
}

/*********************************************/

/**** SVG Chart CSS ****/
.axis {
  fill: none;
  stroke: rgba(0,0,0,0.6);
}
text {
  font-size: 11px;
  font-weight: 100;
}
text.axis-label {
  stroke: #888;
  stroke-width: 0.05em;
  letter-spacing: 0.03em;
  font-size: 12px;
  text-transform: uppercase;
}
circle {
  stroke-width: 0.5px;
  fill: #673c90;
  opacity: 0.5;
  cursor: pointer;
}
path {
  stroke: #aaa;
  fill: none;
}
path.n50-path {
  fill: none;
}
.n50-group circle {
  fill: #000;
  opacity: 1;
}
.n50-group text {
  fill: #000;
  font-weight: 400;
  font-size: 11px;
}
.n50-group path {
  stroke: #000;
}
/**************************/
