/**** Upload Overview ****/

.wgsa-confirm-duplicate-button button {
  background: #ccc;
  margin: 0px 8px;
}

.wgsa-highlight-text {
  color: #673c90;
  font-weight: 700;
}

.wgsa-workspace-click-area {
  height: 100%;
  width: 100%;
}

.wgsa-workspace-click-area:hover {
  cursor: pointer;
}

.overview-card-wide.mdl-card  {
  width: 100%;
}

.wgsa-summary-stats {
  max-width: 480px;
  margin: 0 auto;
}

.wgsa-file-processing-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 28px; /* half of header height to balance vertical alignment */
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wgsa-file-processing-progress .CircularProgress {
  overflow: visible;
}

.wgsa-file-processing-progress .CircularProgress-Text {
  font-size: 112px;
}

.wgsa-file-processing-progress .CircularProgress-Bg,
.wgsa-file-processing-progress .CircularProgress-Fg {
  stroke-width: 24px;
}

/**** Upload Review - Header ****/

@media (max-width: 1024px) {

  .mdl-layout__header-row {
    /*padding-left: 60px !important;*/
  }

  .mdl-layout__header .mdl-layout__drawer-button {
    color: #673c90;
  }

}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
      width: calc(100% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--6-col, .mdl-grid--no-spacing>.mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
      width: 50%;
  }
}
/**** UploadReview - Analysis ****/

.welcome-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-intro {
  font-size: 24px;
  line-height: 32px;
  color: #a386bd;
  margin-bottom: 32px;
  font-weight: 100;
}

.welcome-card {
  width: 480px;
  padding: 0 24px 16px;
  text-align: justify;
  margin-bottom: 24px;
  box-sizing: border-box;
  background: url('/assets/img/WGSA.Icon.FINAL.svg') #fff no-repeat;
  background-size: 60px;
  background-position: -15px -14px;
}

.welcome-card p {
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.welcome-card ul {
  margin-bottom: 0;
}

.welcome-card:last-child {
  margin-bottom: 0;
}

.welcome-card--reverse {
  background-image: url('/assets/img/WGSA.Icon.FINAL.reverse.svg');
  background-position: calc(100% + 15px) -15px;
}

.welcome-card__title {
  font-size: 20px;
  text-align: right;
  color: #673c90;
  line-height: 1;
  margin-left: 56px;
  margin-bottom: 24px;
}

.welcome-card--reverse .welcome-card__title {
  text-align: left;
  margin-left: 0px;
}

#loadingAnimation.mdl-progress {
  width: auto;
}

.uploadReviewAnalysisStyle input {
  outline: none;
}

.mdl-card__supporting-text {
  padding: 0px;
}

.mdl-textfield {
  color: #666;
}

.analysisItemLabel {
  color: #777;
  font-weight: 100;
  text-transform: lowercase;
  padding: 10px 0px;
}

.assemblyWorkspaceContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: space-around;
  margin: 8px;
}

.overviewContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: space-around;
  margin: 8px;
}

.wgsa-overview-upload-ready-card {
  min-height: 136px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
}
.wgsa-overview-upload-ready-card i {
  font-size: 50px;
  color: green;
  text-align: center;
  width: 100%;
}
.wgsa-overview-upload-ready-card .mdl-card__title {
  justify-content: center;
  font-size: 26px;
  font-weight: 300;
  /*color: #666;*/
}

.wgsa-overview-statistics-item-value {
  font-size: 26px;
  font-weight: 300;
  /*color: #666;*/
}

.wgsa-overview-upload-ready-card span {
  padding: 16px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.wgsa-info-window-button {
  text-transform: none;
  display: block;
}

.wgsa-info-window-button:first-child {
  margin-top: 4px;
}

.wgsa-card {
  background: #fff;
  position: relative;
}

.wgsa-card--padded,
.wgsa-card-content {
  padding: 32px;
}

.wgsa-card-heading {
  background: transparent;
  text-transform: uppercase;
  font-size: 16px;
  color: #666;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 4px 32px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.wgsa-card-column {
  display: flex;
  flex-direction: column;
}

.wgsa-card-column .wgsa-card {
  flex-grow: 1;
}

.wgsa-card .mdl-progress > .bufferbar {
  background-color: #ccc;
}

.metadata-fields {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metadata-fields__main,
.metadata-fields__other-fieldset {
  min-width: calc(288px * 2 + 16px);
}

.metadata-fields__main {
  margin-bottom: 16px;
}

.metadata-fields__main > .mdl-grid {
  justify-content: space-between;
}

.metadata-fields__main .mdl-textfield {
  margin: -8px 0;
}

.metadata-googlemap {
  position: relative;
  max-width: 288px;
}

.metadata-fields__other-fieldset {
  margin: 16px;
  padding: 0 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  max-width: calc(2px + 32px + (288px + 32px) * 4);
}

.metadata-fields__other-fieldset > legend {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}

.metadata-fields__other {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 16px;
}

@media (max-width: 1024px) {

  .metadata-fields__other {
    justify-content: space-around;
  }

}

.metadata-input-field {
  text-align: center;
  width: 288px;
}

.metadata-fields__other .mdl-textfield {
  margin: 16px 16px 0;
}

.metadata-field__date {
  padding: 0 16px;
  border: 1px solid #ddd;
  max-width: 288px;
  box-sizing: border-box;
}

.metadata-field__date > legend {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}

.metadata-field__date .mdl-textfield {
  margin: 0;
  margin-right: 16px;
}

.overview-fields {
  margin-right: 10px;
  width: 50%;
}

.mapDivStyle {
  height: 100%;
}

.assembly-map {
  padding-bottom: 30px;
}
.wgsa-chart-select .mdl-tabs__tab {
  flex-grow: 1;
  padding: 0px;
  white-space: nowrap;
  font-size: 13px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
}

.overflow-y--auto {
  overflow-y: auto;
}

/*********************************/

/**** UploadReview - Navigation Left Pane ****/
.navigation-container {
  background: url('/assets/img/WGSA.Icon.FINAL.svg') #fff no-repeat;
  background-size: 80px;
  background-position: -20px -20px;
  text-align: center;
  border: none;
}

.uploadWorkspaceNavigationTitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 64px;
  margin: 40px 0px 0px 0px;
  text-align: center;
  color: inherit;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-decoration: none;
}

.uploadWorkspaceNavigationTitle:hover {
  text-decoration: underline;
}

.uploadWorkspaceNavigationTitle > .mdl-badge:after {
  background: #a386bd;
}

.assemblyNavTitle {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.wgsa-upload-review-button {
  background: #673c90 !important;
  color: #fff;
}

.wgsa-upload-review-button:hover,
.wgsa-upload-review-button:focus,
.wgsa-upload-review-button:active {
  background: #a386bd !important;
}

.wgsa-upload-review-button:disabled {
  background: #e5e5e5 !important;
}

.wgsa-upload-navigation__footer .material-icons {
  color: #fff;
}

.wgsa-upload-review-button .mdl-button__ripple-container .mdl-ripple {
  background: #fff;
}

.wgsa-add-files-button {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 24px;
  margin-bottom: 16px;
  z-index: 900;
}

.wgsa-assembly-list-wrapper {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.assemblyListContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
}

.assemblyListContainer li:last-child {
  margin-bottom: 72px;
}

.assemblyListItem {
  margin: 0;
  padding: 0 8px 0 16px;
  position: relative;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  line-height: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.assemblyListItem .selectButton {
  height: 40px;
  overflow: none;
  display: block;
  line-height: 40px;
  padding: 0;
}

.assemblyListItem .deleteButton {
  color: #777;
}

.assembly-list-item__validate-icon .material-icons {
  line-height: 40px;
  vertical-align: top;
}

.assemblyListItem:hover,
.assemblyListItem:focus,
.assemblyListItem:active {
  background-color: rgba(158,158,158,.2);
}

.assemblyListItem.selected {
  background-color: rgba(158,158,158,.4);
}

.assemblyListItem .selectButton span.filename {
  font-weight: 400;
  text-transform: none;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  text-align: left;
  color: #333;
}

.assemblyListItem.mdl-button {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.assemblyListItem .selectButton:hover,
.assemblyListItem .selectButton:focus,
.assemblyListItem .selectButton:active  {
  background-color: transparent;
}

.assemblyListItem .utilityButton .material-icons {
  font-size: 16px;  /* Preferred icon size */
}

.assemblyListItem > .mdl-button__ripple-container {
  z-index: -1;
}

.assembly-list-item__utils {
  line-height: 40px;
  display: flex;
  align-items: center;
}

.wgsa-upload-navigation__footer {
  padding: 16px 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.wgsa-upload-navigation__footer button {
  margin: 0px 10px;
}

.confirm-delete-button i {
  color: #fff;
}
.confirm-delete-button {
  background-color: HSL(149, 36%, 50%);
}

.confirm-delete-button:hover {
  background-color: HSL(149, 36%, 60%);
}

.confirm-delete-button, .confirm-cancel-button {
  color: #777;
}

.assembly-list-item__utils i{
  font-size: 20px;
}

.mdl-button--accent.mdl-button--accent {
  color: #9476b1;
}


/******************** SVG Chart CSS ******************/
.axis {
  fill: none;
  stroke: rgba(0,0,0,0.6);
}
text {
  font-size: 11px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  stroke: none;
  fill: currentColor;
  text-rendering: optimizeLegibility;
}
text.axis-label {
  text-transform: uppercase;
}
circle {
  stroke-width: 0.5px;
  fill: #673c90;
  opacity: 0.5;
  cursor: pointer;
}
path {
  stroke: #aaa;
  fill: none;
}
path.n50-path {
  fill: none;
}
.n50-group circle {
  fill: #000;
  opacity: 1;
}
.n50-group text {
  fill: #000;
  font-weight: 400;
  font-size: 11px;
}
.n50-group path {
  stroke: #000;
}
/**************************/
