
/**** Upload Overview ****/
.overview-card-wide.mdl-card  {
  width: 100%;
}

/**** Upload Review - Header ****/

.mdl-layout__drawer-button {
  color: #673c90 !important;
}

@media (max-width: 1024px) {

  .mdl-layout__header-row {
    padding-left: 60px !important;
  }

}

/**** UploadReview - Analysis ****/

.welcome-card-wide.mdl-card {
  max-width: auto;
  width: 500px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 59%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.welcome-card-wide > .mdl-card__title {
  color: #ccc;
  height: 200px;
  background: url('/assets/img/WGSA_logo.png') center no-repeat;
  background-position: -40px -40px;
}

.welcome-card-wide > .mdl-card__title h2{
  font-size: 26px;
  font-weight: 300;
}

#loadingAnimation.mdl-progress {
  width: auto;
}
.uploadReviewAnalysisStyle input {
  outline: none;
}
.uploadReviewAnalysisStyle, .mdl-textfield {
  padding: 0px 10px 20px 0;
}

.analysisItemLabel {
  color: #777;
  font-weight: 100;
  text-transform: lowercase;
  padding: 10px 0px;
}

.assemblyWorkspaceContainer .mdl-cell {
  background-color: #fff;
  margin: 30px;
}

.assemblyWorkspaceContainer .increase-cell-gutter.mdl-cell--6-col {
  width: calc(50% - 60px);
}

.card-style {
  background: #fff;
  padding: 16px;
}

.card-style--no-padding {
  background: #fff;
}

.heading {
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin: 16px 0px;
}
/*********************************/

/**** UploadReview - Navigation Left Pane ****/

.uploadWorkspaceNavigationTitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.assemblyNavTitle {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.assemblyListContainer {
  padding: 0px;
}

.assemblyListItem {
  /*height: 100px;*/
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.assemblyListItem .selectButton {
  height: auto;
  overflow: none;
}

.assemblyListItem .deleteButton {
  color: #777;
}

.assembly-list-item__validate-icon {
  position: absolute;
  /*padding: 7px 10px 0px 0px;*/
  top: 7px;
  left: -15px;
}

.assemblyListItem:hover,
.assemblyListItem:focus,
.assemblyListItem:active {
  background-color: rgba(158,158,158,.2);
}

.assemblyListItem.selected {
  background-color: rgba(158,158,158,.5);
}

.assemblyListItem .selectButton span.filename {
  font-size: 12px;
  font-weight: 100;
  text-transform: none;
  padding: 0px;
  overflow: hidden;
  width: 160px;
  display: block;
  text-overflow: ellipsis;
}

.assemblyListItem.mdl-button {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.assemblyListItem .selectButton:hover,
.assemblyListItem .selectButton:focus,
.assemblyListItem .selectButton:active  {
  background-color: transparent;
}

.assemblyListItem .utilityButton .material-icons {
  font-size: 16px;  /* Preferred icon size */
}

.assembly-list-item__utils {
  position: absolute;
  top: 2px;
  right: 0;
}

/*********************************************/

/**** SVG Chart CSS ****/
.axis {
  fill: none;
  stroke: rgba(0,0,0,0.6);
}
text {
  font-size: 11px;
  font-weight: 100;
}
text.axis-label {
  stroke: #888;
  stroke-width: 0.05em;
  letter-spacing: 0.03em;
  font-size: 12px;
  text-transform: uppercase;
}
circle {
  stroke-width: 0.5px;
  fill: #673c90;
  opacity: 0.5;
}
path {
  stroke: #aaa;
  fill: none;
}
path.n50-path {
  fill: none;
}
.n50-group circle {
  fill: #000;
  opacity: 1;
}
.n50-group text {
  fill: #000;
  font-weight: 400;
  font-size: 11px;
}
.n50-group path {
  stroke: #000;
}
/**************************/
