
/**** Upload Overview ****/
.overview-card-wide.mdl-card  {
  width: 100%;
}

/**** Upload Review - Header ****/

.mdl-layout__drawer-button {
  color: #673c90 !important;
}

@media (max-width: 1024px) {

  .mdl-layout__header-row {
    padding-left: 60px !important;
  }

}

/**** UploadReview - Analysis ****/

.welcome-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.welcome-card-wide {
  width: 500px;
  height: 200px;
  background: url('/assets/img/WGSA_logo.png') #fff center no-repeat;
  background-size: 80px;
  background-position: -20px -20px;
}

.welcome-card-content {
  padding: 0 24px;
}

.welcome-card-title {
  font-size: 20px;
  text-align: right;
  color: #673c90;
  line-height: 1;
  margin-left: 56px;
}

#loadingAnimation.mdl-progress {
  width: auto;
}
.uploadReviewAnalysisStyle input {
  outline: none;
}
.uploadReviewAnalysisStyle, .mdl-textfield {
  padding: 0px 10px 20px 0;
}

.analysisItemLabel {
  color: #777;
  font-weight: 100;
  text-transform: lowercase;
  padding: 10px 0px;
}

.assemblyWorkspaceContainer .mdl-cell {
  background-color: #fff;
  margin: 30px;
}

.assemblyWorkspaceContainer .increase-cell-gutter.mdl-cell--6-col {
  width: calc(50% - 60px);
}

.card-style {
  background: #fff;
  padding: 16px;
}

.card-style--no-padding {
  background: #fff;
}

.heading {
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin: 16px 0px;
}
/*********************************/

/**** UploadReview - Navigation Left Pane ****/

.uploadWorkspaceNavigationTitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.assemblyNavTitle {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.assemblyListItem {
  width: 100%;
  display: block;
  text-align: left;
}

.assemblyListItem:hover,
.assemblyListItem:focus,
.assemblyListItem:active {
  background-color: rgba(158,158,158,.2);
}

.assemblyListItem.selected {
  background-color: rgba(158,158,158,.5);
}

.assemblyListItem span.filename {
  font-size: 12px;
  font-weight: 100;
  text-transform: none;
  left: 10px;
  padding: 0px;
  overflow: none;
  height: auto;
}

.assemblyListItem.mdl-button {
  /*border: 1px solid black;*/
  padding: 0px;
  margin: 0px;
  height: auto;
}

.assemblyListItem .deleteButton {
  color: #777;
  right: 0px;
}
.assemblyListItem .utilityButton {
  /*position: absolute;*/
  float: right;
  /*right: 0px;*/
  z-index: 9;
}

.assemblyListItem .selectButton:hover,
.assemblyListItem .selectButton:focus,
.assemblyListItem .selectButton:active  {
  background-color: transparent;
}

.assemblyListItem .utilityButton .material-icons {
  font-size: 16px;  /* Preferred icon size */
}

.confirm-delete-button {
  position: absolute;
}

/*********************************************/

/**** SVG Chart CSS ****/
.axis {
  fill: none;
  stroke: rgba(0,0,0,0.6);
}
text {
  font-size: 11px;
  font-weight: 100;
}
text.axis-label {
  stroke: #888;
  stroke-width: 0.05em;
  letter-spacing: 0.03em;
  font-size: 12px;
  text-transform: uppercase;
}
circle {
  stroke-width: 0.5px;
  fill: #673c90;
  opacity: 0.5;
}
path {
  stroke: #aaa;
  fill: none;
}
path.n50-path {
  fill: none;
}
.n50-group circle {
  fill: #000;
  opacity: 1;
}
.n50-group text {
  fill: #000;
  font-weight: 400;
  font-size: 11px;
}
.n50-group path {
  stroke: #000;
}
/**************************/
