.pw-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pw-expand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pw-margin-auto {
  margin: 0 auto;
}

.pw-uppercase {
  text-transform: uppercase;
}

.pw-capitalise {
  text-transform: capitalize;
}

.pw-centre-text {
  text-align: center;
}

.baseline-grid {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 170, 255, 0.3) 1px,
    transparent 1px
  );
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 20px;
}
