.wgsa-assembly-card p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wgsa-assembly-card a {
  color: #AC65A6;
}

.wgsa-remove-fasta-button {
  height: 28px;
  width: 28px;
  min-width: 28px;
  margin-left: -6px;
  margin-bottom: 2px;
}

.wgsa-remove-fasta-button > i {
  font-size: 20px;
}

.wgsa-hub-card-error {
  color: #d11b1b;
}

.wgsa-hub-card-error p {
  white-space: normal;
}

.wgsa-hub-card-error i {
  position: absolute;
  font-size: 20px;
  top: 22px;
  right: 0;
}
