.wgsa-sunburst > svg {
  width: 100%;
  height: 100%;
}

.wgsa-sunburst path {
  stroke: #fff;
  cursor: pointer;
}

.wgsa-sunburst text {
  text-anchor: middle;
  dominant-baseline: middle;
}

.wgsa-sunburst .arc-depth-0 {
  fill: #fff !important;
}
