.wgsa-analysis-section table {
  margin: 0 auto;
}

.wgsa-analysis-section [title]:not(a) {
  cursor: help;
}

.wgsa-mlst-profile-hit:not(:last-child)::after {
  content: ", "
}

.wgsa-mlst-profile .material-icons {
  color: #555;
}
