.wgsa-analysis-section table {
  margin: 0 auto;
}

.wgsa-analysis-section th {
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: background-color, color;
}

.wgsa-analysis-section th.active {
  background-color: #673c90;
  color: #fff;
  border-radius: 4px;
}

.wgsa-analysis-section [title]:not(a) {
  cursor: help;
}

.wgsa-mlst-profile-hit:not(:last-child)::after {
  content: ", "
}

.wgsa-mlst-profile .material-icons {
  color: #555;
}

.wgsa-mlst-hit {
  cursor: help;
}

.wgsa-mlst-hit > .material-icons{
  vertical-align: middle;
  padding-bottom: 3px;
  font-size: 16px;
  color: #555;
}

td.wgsa-amr {
  width: 24px;
  padding: 8px;
}

td.wgsa-amr > i {
  cursor: pointer !important;
}
