.wgsa-genome-detail .wgsa-overlay {
  background: rgba(0, 0, 0, 0.87);
}

.wgsa-genome-detail .wgsa-modal {
  height: auto;
  max-height: calc(100% - 48px);
  align-self: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 48px;
}

@media (max-width: 1200px) {
  .wgsa-genome-detail .wgsa-modal {
    left: -5%;
  }
}

.wgsa-genome-detail .wgsa-modal > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: transparent;
}

.wgsa-genome-detail-title {
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .wgsa-genome-detail-title {
    margin-right: 10%;
  }
}

.wgsa-genome-detail .wgsa-modal-actions {
  position: absolute;
  right: 8px;
}

.wgsa-modal-actions .material-icons,
.wgsa-genome-detail-title .material-icons {
  color: #fff !important;
}

.wgsa-modal-actions .wgsa-download-label {
  color: #222 !important;
}

.wgsa-genome-detail-loader {
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wgsa-genome-detail-loader p {
  margin-top: 16px;
  font-weight: 500;
}

.wgsa-genome-detail-content {
  padding: 0 24px;
  box-sizing: border-box;
}

.wgsa-genome-detail-content > nav {
  position: fixed;
  right: 16px;
  text-align: right;
}

.wgsa-genome-detail-content > nav a {
  color: rgba(255, 255, 255, 0.54);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.wgsa-genome-detail-content > nav a:hover,
.wgsa-genome-detail-content > nav a:focus {
  text-decoration: underline;
}

.wgsa-genome-detail-content > nav .active > a {
  color: #fff;
}

.wgsa-genome-detail-content h2 {
  font-size: 24px;
  line-height: 1;
  color: #673c90;
  padding: 0 8px;
}

.wgsa-genome-detail-content > section {
  padding-bottom: 24px;
  position: relative;
}

.wgsa-genome-detail-content > section:first-of-type h2 {
  display: none;
}

.wgsa-genome-detail-content > section + section {
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.wgsa-genome-detail-content dl {
  display: flex;
  flex-wrap: wrap;
}

.wgsa-genome-detail-content dl > div {
  width: calc(50% - 16px);
  margin: 8px;
}

.wgsa-genome-detail-content dt {
  font-size: 13px;
  font-weight: 400;
}

.wgsa-genome-detail-content dd {
  margin-left: 0;
  margin-top: 4px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-genome-detail-version {
  position: absolute;
  top: 16px;
  right: 16px;
}

.wgsa-analysis-version {
  margin-left: 8px;
  font-size: 13px;
  background: #ccc;
  padding: 2px 6px;
  border-radius: 8px;
  text-transform: none;
  font-weight: 500;
}

.wgsa-analysis-version.is-active {
  background: #3c7383;
  color: #fff;
}

.wgsa-genome-detail table {
  margin: 16px auto;
  font-size: 16px;
}

.wgsa-genome-detail table caption,
.wgsa-genome-detail-content figcaption {
  text-align: center;
  font-size: 13px;
  margin-bottom: 8px;
}

.wgsa-genome-detail th,
.wgsa-genome-detail td {
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.wgsa-genome-detail td {
  line-height: 1.1;
}

.wgsa-genome-detail th {
  border-top: 2px solid rgba(0, 0, 0, 0.87);
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.wgsa-genome-detail-amr-state {
  text-transform: capitalize;
  white-space: nowrap;
}

.wgsa-genome-detail-amr-present {
  font-weight: 500;
}

.wgsa-genome-detail-amr tr:not(.wgsa-genome-detail-amr-present) {
  color: rgba(0, 0, 0, 0.54);
}
