.wgsa-page--documentation .wgsa-search-button {
  display: none;
}

.wgsa-wiki-page {
  max-width: 75rem;
  margin: auto auto;
}

.wgsa-wiki-breadcrumb {
  font-size: 13px;
  margin-top: 16px;
}

.wgsa-wiki-page a {
  color: #673c90;
}

.wgsa-wiki-page h1,
.wgsa-wiki-page h2,
.wgsa-wiki-page h3,
.wgsa-wiki-page h4,
.wgsa-wiki-page h5,
.wgsa-wiki-page h6 {
  color: #673c90;
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.wgsa-wiki-page h1 {
  font-size: 32px;
}

.wgsa-wiki-page h2 {
  font-size: 28px;
}

.wgsa-wiki-page h3 {
  font-size: 24px;
}

.wgsa-wiki-page h4 {
  font-size: 20px;
}

.wgsa-wiki-page h5 {
  font-size: 18px;
}

.wgsa-wiki-page h6 {
  font-size: 16px;
}

.wgsa-wiki-page blockquote p {
  display: inline-block;
}
