.wgsa-hub-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  position: fixed;
}

.wgsa-hub--has-aside {
  padding-right: 255px;
}
.wgsa-hub--has-aside ~ .mdl-layout__content,
.wgsa-hub--has-aside ~ .mdl-layout__content .wgsa-drag-and-drop__button {
  margin-right: 255px;
}

.wgsa-hub-header ~ .mdl-layout__content {
  background: #fff;
  z-index: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 64px;
}

.wgsa-hub-header .mdl-layout-title {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.wgsa-header-logo {
  width: 88px;
}

.mdl-layout__header--primary .wgsa-header-logo {
  filter: grayscale(1) brightness(5);
}

.wgsa-hub-header .mdl-navigation {
  padding-right: 1rem;
}

.wgsa-hub-header .mdl-navigation__link {
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500 !important;
  padding: 0;
  margin-left: 2rem;
}


.wgsa-hub-files {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
}

.wgsa-hub-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 48px;
}

.wgsa-hub-summary {
  margin: 0;
  font-size: 13px;
}

.wgsa-hub-summary > span {
  color: #673c90;
}

.wgsa-hub-file {
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.28);
  background: white;
  width: calc(33.333% - 16px);
  margin: 0 2rem 2rem;
}

@media(min-width: 1024px) {
  .wgsa-hub-file {
    width: calc(20% - 16px);
  }
}

.wgsa-hub-file__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #673c90;
}

.wgsa-hub-file p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wgsa-hub-file a {
  color: #AC65A6;
}

.wgsa-hub-file__metadata {
  display: flex;
  justify-content: flex-start;
  align-items: bottom;
  margin-bottom: 4px;
  position: relative;
}

.wgsa-hub-file__metadata--species {
  font-style: italic;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-hub-file__metadata i {
  font-size: 16px;
  margin-right: 4px;
  line-height: 18px;
}

.wgsa-hub-file__metadata p {
  white-space: nowrap;
}

.wgsa-hub-filter {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 255px;
  z-index: 3;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  transform: translateX(255px);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-hub--has-aside ~ .mdl-layout__content .wgsa-hub-filter {
  transform: translateX(0);
}

.wgsa-hub-filter__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  position: relative;
}

.wgsa-hub-filter__search {
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 64px;
}

.wgsa-hub-filter__search input {
  border: 0;
  height: 100%;
  width: 100%;
  padding: 0 16px;
  outline: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.wgsa-hub-filter__section {
  padding: 16px 24px 0;
}

.wgsa-hub-filter__section > h3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.wgsa-hub-filter .mdl-chip {
  display: block;
  margin-bottom: 8px;
  max-width: 100%;
}

.wgsa-hub-filter .mdl-chip__contact {
  background: #a386bd;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.wgsa-hub-filter .mdl-chip__text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdl-chip--active {
  background: #a386bd;
  color: #fff;
  font-weight: 500;
}

.mdl-chip--active .mdl-chip__contact {
  background: #673c90;
}

.wgsa-hub-filter__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  transform: translateY(100%);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-hub-filter__footer--active {
  transform: translateY(0);
}
