.wgsa-hub-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  position: fixed;
}

.wgsa-hub--has-aside {
  padding-right: 255px;
}
.wgsa-hub--has-aside ~ .mdl-layout__content,
.wgsa-hub--has-aside ~ .mdl-layout__content .wgsa-drag-and-drop__button {
  margin-right: 255px;
}

.wgsa-hub-header ~ .mdl-layout__content {
  background: #fff;
  z-index: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 64px;
}

.wgsa-hub-header .mdl-layout-title {
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.wgsa-header-logo {
  width: 88px;
}

.mdl-layout__header--primary .wgsa-header-logo {
  filter: grayscale(1) brightness(5);
}

.wgsa-hub-header .mdl-navigation {
  padding-right: 1rem;
}

.wgsa-hub-header .mdl-navigation__link {
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500 !important;
  padding: 0;
  margin-left: 2rem;
}

.wgsa-hub {
  box-sizing: border-box;
  height: 100%;
  padding-top: 52px;
  padding-left: 4rem;
  width: 100%;
  position: relative;
}

.wgsa-hub-summary {
  font-size: 13px;
  padding: 1rem 2.5rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 4rem;
  right: 0;
}

.wgsa-hub-summary > span {
  color: #673c90;
}

/*.wgsa-hub-summary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 4.5rem;
  height: 1px;
  background: rgba(0, 0, 0, 0.14);
}*/

.wgsa-virtualised-grid {
  outline: none;
}

.wgsa-hub-card {
  background: white;
  border-top: 1px solid color(#a386bd tint(50%));
  height: 104px;
  margin: 0 1rem 1rem;
  padding: 1.25rem 1.5rem;
}

.wgsa-hub-card__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #673c90;
}

.wgsa-hub-card p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wgsa-hub-card a {
  color: #AC65A6;
}

.wgsa-hub-card__metadata {
  display: flex;
  justify-content: flex-start;
  align-items: bottom;
  margin-bottom: 4px;
  position: relative;
}

.wgsa-hub-card__metadata--species {
  font-style: italic;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-hub-card__metadata i {
  font-size: 16px;
  margin-right: 4px;
  line-height: 18px;
}

.wgsa-hub-card__metadata p {
  white-space: nowrap;
}

.wgsa-hub-filter {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 255px;
  z-index: 3;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  transform: translateX(255px);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-hub--has-aside ~ .mdl-layout__content .wgsa-hub-filter {
  transform: translateX(0);
}

.wgsa-hub-filter__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  position: relative;
}

.wgsa-hub-filter__search {
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 64px;
}

.wgsa-hub-filter__search input {
  border: 0;
  height: 100%;
  width: 100%;
  padding: 0 16px;
  outline: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.wgsa-hub-filter__section {
  padding: 16px 24px 0;
}

.wgsa-hub-filter__section > h3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.wgsa-hub-filter .mdl-chip {
  display: block;
  margin-bottom: 8px;
  max-width: 100%;
}

.wgsa-hub-filter .mdl-chip__contact {
  background: #a386bd;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.wgsa-hub-filter .mdl-chip__text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdl-chip--active {
  background: #a386bd;
  color: #fff;
  font-weight: 500;
}

.mdl-chip--active .mdl-chip__contact {
  background: #673c90;
}

.wgsa-hub-filter__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  transform: translateY(100%);
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.wgsa-hub-filter__footer--active {
  transform: translateY(0);
}
