.cgps-avatar--centered {
  margin: 16px auto;
  text-align: center;
}

.wgsa-profile-avatar {
  padding: 16px;
}

.wgsa-profile-avatar .cgps-avatar__image {
  margin-bottom: 8px;
  /*width: 80px;
  height: 80px;*/
}

.wgsa-profile-avatar .cgps-avatar__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.wgsa-profile-counter {
  padding-bottom: 40px;
}

.wgsa-profile-counter:hover,
.wgsa-profile-counter:focus,
.wgsa-profile-counter:active {
  text-decoration: none !important;
}

.wgsa-profile-counter:hover > .wgsa-hub-stats-heading,
.wgsa-profile-counter:focus > .wgsa-hub-stats-heading,
.wgsa-profile-counter:active > .wgsa-hub-stats-heading{
  text-decoration: none;
}

.wgsa-profile-section {
  width: 80%;
  margin: 0 auto 8px;
}

.wgsa-activity-item {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.wgsa-activity-item i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.405);
}

.wgsa-activity-item > * {
  margin: 0 8px;
}

/* .wgsa-activity-item > :first-child {
  margin: 0;
} */

.wgsa-activity-item__time {
  margin-left: auto;
  cursor: help;
}
