.wgsa-page--collection {
  background: #efefef;
  overflow-y: hidden;
}

.wgsa-pane-overlay {
  background: rgba(255, 255, 255, 0.87);
  z-index: 2;
}

.wgsa-pane-controls {
  position: absolute;
  bottom: 24px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  user-select: none;
  transition: .28s cubic-bezier(.4,0,.2,1);
  transition-property: opacity;
  visibility: hidden;
  opacity: 0;
}

.wgsa-pane-controls--top {
  bottom: auto;
  top: 56px;
}

.wgsa-pane-controls--visible {
  visibility: visible;
  opacity: 1;
}

.wgsa-pane-controls__row {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 2px;
  border-radius: 4px;
}

.wgsa-pane-slider .mdl-slider {
  display: none;
}

.wgsa-pane-slider .mdl-slider.is-upgraded {
  display: block;
}

.wgsa-pane-slider {
  margin: 0 -20px;
  width: 128px;
  height: 40px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  user-select: none;
}

.wgsa-pane-slider label {
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.wgsa-pane-button {
  border: none;
  color: #673c90;
}

.wgsa-pane-button--dark {
  background: rgba(158, 158, 158, .4);
  color: #555;
}

.wgsa-pane-button--active {
  background-color: #a386bd;
  color: #fff;
}

.wgsa-pane-button--active:hover,
.wgsa-pane-button--active:focus:not(:active) {
  background-color: #673c90;
}

.wgsa-header-collection-options > * {
  margin-left: 8px;
}

.wgsa-header-collection-options > :first-child {
  margin-left: 0;
}
